[2015-05-01 19:01] waldoj opened #1 "Bug: Application process requests evidence of past salary"
As a part of the process of joining 18F, applicants are required to submit evidence, in the form of W-2s or 1099s, of the past two years' salary. This is a bug in the process. Minorities within the technology industry (which is to say, nearly anybody who isn't a white, cisgender male) are underpaid. Basing 18F salaries on prior salaries perpetuates this discrimination. For this reason, past salari

[2015-05-27 14:32] elainekamlley opened #5 "Benefits section to be more inclusive of specific health provider information"
As part of the #wg-diversity meeting, we discussed being more transparent on what government health providers cover. Some examples include trans related health care, coverage for pregnancy, HIV, diabetes, etc. I'm not sure if we have to be specific about everything but we should have some basic language to speak to these without promoting a plan over another. First step is to research. Who can hel

[2015-05-27 14:44] rdpiazza commented on #5
I might be able to help.  I spent a lot of time combing through the health plan specs before joining, trying to figure out the differences, so I feel comfortable poking around them.  What's the goal?  Something more general saying that there are plans available that cover X, Y, and Z, or more of a comparison cheatsheet that lists all of the plans and shows which ones cover certain benefits and whi

[2015-05-27 15:12] gboone opened #6 "Eligibility for the PSLF and other student debt relief benefits"
The Public Service Loan Forgiveness program forgives all remaining debt on federal loans after 120 payments while employed full time in public service. It's unclear, based on [the FAQ](https://studentaid.ed.gov/sa/repay-loans/forgiveness-cancellation/public-service#hundred-twenty-payments), whether the time must be with the _same_ employer, or whether it can be spread across multiple jobs. If ther

[2015-05-27 16:15] esgoodman commented on #5
I'd say the vaguer format would be better.  Less effort to create and
maintain over time, while still letting people know they have options  (or
not).
On May 27, 2015 7:44 AM, "Rebecca Piazza" notifications@github.com wrote:

[2015-07-13 20:09] elainekamlley opened #12 "Clear instructions on How to Apply"
Criteria:
- [ ] Identify what materials are needed from candidates
- [ ] Clear instructions for applying to 18F directly
- [ ] Clear instructions for applying for USDS
- [ ] Disclaimer on delays for security clearance

[2015-07-13 20:12] elainekamlley opened #13 "Clear instructions on How to Apply"
Criteria:
- [ ] Identify what materials are needed from candidates
- [ ] Clear instructions for applying to 18F directly
- [ ] Clear instructions for applying for USDS
- [ ] Disclaimer on delays for security clearance

[2015-07-13 20:15] elainekamlley opened #14 "Update Interview Process"
Criteria:
- [ ] Image of 18F org structure
- [ ] what teams (consulting, delivery) and roles are available for consideration
- [ ] Provide timeline breakdown from application submission to security clearance

[2015-07-13 22:27] afeld commented on #13
Dupe of #12.

[2015-07-13 22:27] #13 closed

[2015-07-13 22:44] afeld commented on #14
/cc https://github.com/18F/hub/issues/31

Could you elaborate? Seems like https://pages.18f.gov/joining-18f/who-we-are-hiring/ shows the options.

[2015-07-14 13:33] awfrancisco opened #15 "Citizenship status"
Add information about citizenship/work visa status. Short answer being that you do not have to be a citizen, but you must already be able to work in the U.S. We can't sponsor visas.

[2015-07-14 13:48] elainekamlley commented on #14
@afeld Having options listed there are really great and much more that we have had before but they are still a little confusing. Consulting job profiles have a different format and feel to them than the rest so along with the picture of the org, adding some text around how to navigate the roles could provide clarity. @awfrancisco @emileighoutlaw are also working on this with me. If they want to ad

[2015-07-17 15:07] elainekamlley commented on #12
Copy: https://docs.google.com/a/gsa.gov/document/d/1szZRSgD3boBVz645tGmLw3MvU11J3Flgv7nkwP5i46E/edit?usp=sharing

[2015-07-22 17:49] #15 closed

[2015-07-28 22:04] jamiealbrecht opened #25 "who are we hiring? update."
A few things:
1. Remove business analyst, digital performance analyst, and delivery manager from the page completely.
2. Put interaction designer, etc under design
3. Please take off anything related to content. No current openings.

cc @awfrancisco @elainekamlley

Apologies if this is the complete wrong way to do this. :) But thank you in advance.

[2015-07-29 14:43] emileighoutlaw commented on #25
I'm on this!

[2015-07-29 14:48] emileighoutlaw commented on #25
Actually, scratch that "I'm on this." The page is pulling positions from a list, so I'm not sure how to update?

[2015-07-29 14:48] awfrancisco commented on #25
I can walk you through it. Will DM.

[2015-07-29 15:08] #25 closed

[2015-07-29 15:44] jamiealbrecht opened #27 "explain innovation specialist"
I think it might be worth talking about that everyone here is an "innovation specialist" in the eyes of GSA. People start to get offers and then are confused as to what that means.

Also, please tell me if this is the wrong way to suggest edits. :)

[2015-08-10 15:34] jackiekazil opened #33 "What is the difference between... who-we-are-hiring vs agile-labor-categories"
https://pages.18f.gov/joining-18f/who-we-are-hiring/
http://18f.github.io/agile-labor-categories/

Should we kill the second one?
/cc @gboone

[2015-08-10 15:40] afeld commented on #33
This question has been raised before, but can't find the conversation. @cscairns?

[2015-08-10 15:49] cscairns commented on #33
@afeld @jackiekazil: don't kill the agile bpa labor categories...they are for contracts...18F is using these labor categories in the interim until we fully transition to performance profiles

[2015-08-10 19:01] jackiekazil commented on #33
:+1: Since this is documented, I am going to close this issue.

[2015-08-10 19:01] #33 closed

[2015-08-11 19:28] gboone commented on #33
FWIW: If that github.io page is being distributed to members of the public it should probably be migrated to pages.18f.gov. cc: @NoahKunin

[2015-08-11 19:38] afeld commented on #33
Already is:

https://pages.18f.gov/agile-labor-categories/

/cc https://github.com/18F/agile-labor-categories/issues/5

[2015-09-09 21:07] jamiealbrecht opened #51 "update sick leave"
We need to correct the language around sick leave advances for FMLA. It should say something like this:

When serving under a limited appointment employees can only be advanced sick leave up the total amount which would be earned during the term of that appointment. For our staff it would be what can be accrued in 2 years or less.

It depends, obviously, on when they take the sick leave and how mu

[2015-09-09 21:15] rdpiazza commented on #51
Since sick leave can be "repaid" by either sick leave or annual leave accrual, it's still not possible to be advanced more than the sick leave you'd accrue for the rest of a 2 year term?  Or is it just that that would need to be done as advanced annual leave (which I believe is capped at the balance of leave you could earn for the rest of the annual leave year)?

[2015-09-09 21:45] jamiealbrecht commented on #51
I think that I understand your question. Hopefully this helps. :)

You can be advanced sick leave per the 2 year term max but you can only be advanced annual leave per the leave year max.  you can use a combo of sick and annual leave for parental leave but you still run into the max issues - of course there is also donated leave which gives you more time.

[2015-09-16 15:39] udoewa commented on #1
Agreed. A very real problem.

[2015-09-16 20:43] fureigh opened #54 "[stub] Veteran status"
**User story:**
As a GSA HR proper point of contact, I want to be able to readily see whether a given applicant is a veteran so that I can be certain I'm satisfying the appropriate requirements.

As a veteran considering applying for a position, I want to be able to indicate my veteran status so that I can feel confident that my application will be handled appropriately.

**Current behavior:**
App

[2015-09-16 21:06] fureigh opened #55 "[stub] Allow application submissions through the website"
**User story:**
As an applicant, I want to be able to send my materials through the website so that I have a more seamless experience and feel more certain that everything has gone to the right place.

As a GSA HR proper point of contact, I want to be able to collect and review materials from candidates more efficiently so I can save time and focus on harder problems. :)

**Current behavior:**
All

[2015-09-16 23:15] fureigh opened #56 "Bug: 'How to apply' doesn't mention résumé."
The [Interview Process](https://pages.18f.gov/joining-18f/interview-process/) page says to submit a résumé but the [How to Apply](https://pages.18f.gov/joining-18f/how-to-apply/) page doesn't. It should.

[2015-09-17 21:15] fureigh commented on #27
@jamiealbrecht: Let's pair on this! I'll put some time on your calendar to sit down and get you set up to submit pull requests. :rocket:

[2015-09-17 21:20] fureigh commented on #54
Updated 'current behavior,' 'desired behavior' and 'technical notes' per yesterday's conversation with @jamiealbrecht.

[2015-09-17 22:15] kaitlin commented on #51
Hmmm this is annoying since nothing in this:

https://www.opm.gov/policy-data-oversight/pay-leave/leave-administration/fact-sheets/handbook-on-leave-and-workplace-flexibilities-for-childbirth-adoption-and-foster-care.pdf

Says anything about term appointees specifically. Also this page
https://www.opm.gov/policy-data-oversight/pay-leave/leave-administration/fact-sheets/advanced-sick-leave/
Says al

[2015-09-17 22:41] fureigh opened #57 "Give prospective applicants a way to find out about new job openings"
**User story:**
As a prospective applicant, I want to know when positions for which I'm eligible open up so I can apply for them.

As someone on the hiring team, I want as many prospective applicants as possible to know about relevant openings so I can receive applications from all interested applicants at the appropriate times (and so I don't miss out on great candidates simply because they weren

[2015-09-17 22:42] fureigh commented on #57
@jamiealbrecht (or anyone else who sees this and knows the answers!), what are your thoughts on the questions above?

[2015-09-18 20:50] jamiealbrecht commented on #51
Not sure. This was the guidance that Cristina received from GSA HR when it comes to excepted service employees.

[2015-09-18 21:12] fureigh commented on #56
Pairing ahoy! :)

[2015-09-18 21:31] #56 closed

[2015-09-20 23:43] afeld opened #60 "link to this repository from the site"

[2015-09-21 22:21] fureigh opened #62 "Remove inactive position listings"
Per conversation with @jamiealbrecht: 18F doesn't currently have capacity to process applications for positions for which we're not actively hiring. However, eager would-be applicants continue to optimistically email about inactive positions.

#57 will more substantially improve the user experience for people who want to apply for positions that aren't currently active. In the meantime, the goals

[2015-09-22 17:14] #62 closed

[2015-09-22 17:42] fureigh opened #64 "Shorten position descriptions"
Per conversation with @JenTress about HR requirements.

[2015-09-22 18:25] #64 closed

[2015-09-24 21:27] fureigh commented on #27
Accidental assignment, sorry @alanswx! :)

[2015-09-29 17:30] fureigh opened #68 "Give applicants a heads-up about implications of becoming a fed"
**User story:**
As an applicant who may not have previously worked in government, I want to understand the personal implications of becoming an employee of the federal government (e.g., the Hatch Act, FOIAability of _____, social media considerations, implications for attending or speaking at conferences, etc.) so that I can make an informed decision about whether to accept an employment offer.

*

[2015-09-29 17:30] fureigh commented on #68
@brittag, want to take a shot at the content aspect of this?

[2015-10-06 13:17] melodykramer commented on #68
@fureigh We have much of this material collected as part of the new hires training. I just posted the link to the Hatch Act / FOIA / ethics guide in #newcomers - we should have the conference info by the end of this week, after the session related to that.

[2015-10-06 13:30] fureigh commented on #68
@melodykramer Thanks! Looking forward to incorporating.

[2015-10-07 14:11] fureigh opened #70 "Send email notification when new application is received"
As a member of the talent team, I want to know when a new application has been submitted so that I can review it as promptly as possible.

**Technical notes:**
Destination: join18f@gsa.gov

[2015-10-07 14:12] fureigh commented on #70
Slack integration is a possible alternative.

[2015-10-07 14:49] fureigh commented on #70
Drafted; confirmed working. Will hold off on switching to that email address until we're done testing the form.

[2015-10-07 22:23] NoahKunin opened #71 "Get a final answer on API Keys for future potential usage."

[2015-10-08 15:11] fureigh commented on #71
@NoahKunin :clap:

[2015-10-13 17:48] fureigh commented on #70
Updated to email join18f.

[2015-10-13 17:49] fureigh commented on #70
@jamiealbrecht, sending this over to you so you can confirm that when you submit the form, you receive an email as expected.

[2015-10-16 19:32] #70 closed

[2015-10-16 19:34] fureigh commented on #54
Closed in 5350a336b8f15cd4a7cb03d74ce58686633003b3.

[2015-10-16 19:34] #54 closed

[2015-10-16 19:35] fureigh commented on #55
Closed in 5350a336b8f15cd4a7cb03d74ce58686633003b3. Currently using an embedded Google form.

[2015-10-16 19:35] #55 closed

[2015-10-22 20:40] fureigh opened #73 "Suggest ways to protect PII when sending required documents"
Later stages of the application process require applicants to submit documents that include especially sensitive information such as their Social Security Numbers, signatures, etc. Some applicants choose workarounds like sending password-protected ZIP files and calling with the phone number, but for a variety of reasons, others don't.

Let's suggest ways applicants can protect their data so 1) the

[2015-10-22 20:40] fureigh commented on #73
cc @brittag. Want to pair on or have a go at this?

[2015-10-22 23:49] NoahKunin commented on #73
Just to be clear to any open source contributors or auditors who come across this issue (hi!) that we _do_ already protect this data. Files are transmitted over HTTPS and stored with a Google Apps for Government infrastructure and software layer, that confirms to an even higher security standard than a normal Google Apps for Business instance would provide.

Those files can only be accessed via of

[2015-10-23 19:27] jamiealbrecht opened #74 "Make it mandatory to select functional skill [and GS level]"
We need to make the following additions to the application page and make them mandatory:

Functional Skills - drop down with the following options:
Acquisition/Contracts Management
Data Visualization
Dev Ops
Design: Visual
Design: Content
Design: Front End
Design: User Exp. & Research
Marketing, Communications
Operations, Recruiting
Product Management
Project Management
Software Dev: Front End
Sof

[2015-10-26 18:01] fureigh commented on #74
@jamiealbrecht: I updated the "Primary skillset" field. Two questions about it:
- Do you want the field name to change to "Functional skills?"
- If so, should applicants be able to select more than one?

[2015-10-26 18:55] fureigh commented on #74
Per conversation with @rooneywp, sounds like the "Primary skillset" field with the supplementary "Other skills you have" field is consistent with the current process. We can iterate in the future as appropriate.

As the GS level question will require some more discussion before implementing, I'll break it into a new issue.

[2015-10-27 00:00] fureigh opened #75 "Update content to reflect new process"
As a prospective applicant, I want to understand what timelines to expect, what kind of cohort-level application analysis to expect, etc., so I can assess my progress accordingly.

[2015-10-27 00:00] fureigh commented on #75
More information needed. For now, this is a placeholder.

[2015-10-27 00:33] fureigh opened #76 "Require applicants to self-select General Schedule – Grade Level"
Following up on #74, which included:

**Current behavior:**
No such field is included.

**Desired behavior:**
Applicants are required to self-select the GS level to which they're applying.

**Technical notes:**
One selection max. Applicants can select only one GS level per application. They'll have the opportunity to reapply later if appropriate.

**Outstanding questions:**
 * What will we provide

[2015-10-27 00:34] #74 closed

[2015-10-27 00:38] fureigh commented on #76
Holding off on implementing this until Team Talent has that content. (cc @jamiealbrecht @rooneywp)

And just to note: the minimum viable version of this will presumably be text with bullet points, but there's room to build a tool to help people find out which level they fit best.

[2015-10-27 00:39] fureigh opened #77 "Draft GS selection narrative/guide"
Toward #76. :)

[2015-10-28 00:24] fureigh commented on #5
Bump. The [benefits page](https://pages.18f.gov/joining-18f/benefits/) currently provides links to health insurance plans, though applicants are left to dig through and determine for themselves which plans cover (and exclude) what. Should I mark this `wontfix`?

[2015-10-28 18:02] pixelwake commented on #77
https://docs.google.com/document/d/1V9mVCsDFrGwVjDPoLlx5BPkH2u9mIlcCU72m_HTCSRM/edit

Analysis and draft language for MVP narrative guide.

[2015-10-28 18:14] jamiealbrecht opened #78 "Delete Open Positions"
For the moment, we should take down open positions. This is just temporary until we get up the application and content around the new process.

[2015-10-28 18:16] jamiealbrecht opened #79 "Update Join Page Content"
Right now this is a placeholder to remind me to update all of the sections of the join page. Tagging @cbrydges on this too.

[2015-10-30 20:24] fureigh commented on #73
Noting that https://fugacious.18f.gov is a good option to include.

[2015-10-30 21:48] jamiealbrecht commented on #79
add update on the transition process to here:  page https://pages.18f.gov/joining-18f/

Our call for talented, civic-minded folks to join 18F has been answered loudly, clearly, and in high numbers. To better handle this influx of applications and to better serve the entire 18F team, we’re embarking on an evaluation of our talent selection process. Like the rest of the products built at 18F, this p

[2015-10-31 00:38] fureigh commented on #79
Took a big first pass at this in #81 and #83.

[2015-11-03 19:30] jamiealbrecht commented on #78
closing this issue since we added the content around "this is what we will be hiring in the future." we will update that with more details when we go live.

[2015-11-03 19:30] #78 closed

[2015-11-03 19:31] jamiealbrecht commented on #79
closing this issue. for now, during the transition phase, the content is as up to date as possible. there will be new, specific updates to come later.

[2015-11-03 19:31] #79 closed

[2015-11-03 19:33] jamiealbrecht commented on #51
we made changes to the leave section to reflect that you can only advance up to what you'd accrue during your tenure. closing this.

[2015-11-03 19:33] #51 closed

[2015-11-03 19:46] fureigh commented on #51
Noting for anyone who's looking: those changes are in c6e99782dc984e875b04cef6258e0c2f180c09db.

[2015-11-09 20:52] rooneywp opened #89 "Join 18F Application: Change Vet Preference Question"
To better facilitate the manual processing of applications.

Change the vet preference question to be:
"Are you a Veteran of the U.S. Armed Forces or are you eligible for "derived" preference?"

Possible answers:
"Yes"
"No"

Note: 18F is not responsible for determining if a candidate is eligible for preference, that is part of the responsibility of OHRM during the certification process. 18F can fa

[2015-11-09 20:59] rooneywp opened #90 "Join 18F Application: Update "Where did you learn about 18F" question"
Change: Add language to the description that indicates clearly that if they were referred by an individual, this is the field to document this information.

[2015-11-09 21:27] rooneywp opened #91 "Join 18F Application: Modify Functional Skills ("Primary Skill") section"
Current state: Applicant selects a primary skill from a drop down list.

To capture a better representation of the candidate and enable more dynamic routing to SMEs and team, add the ability to indicate self assessment of multiple skill areas

Notes:
There are two options that we are considering that meet the requirements (see below). The preferred solution is something that is closest to the firs

[2015-11-09 21:37] rooneywp opened #92 "Join 18F Application: Update Resume Link and/or Resume Section"
To make the evaluation process easier and ensure applicants can provide the best information, add language to the resume link and/or resume section suggesting that a link is the best option.

Notes: Maybe something like "At this time our application cannot accept file attachments. It is recommended that you provide a link to a hosted version of your resume."

Then we can reiterate by including som

[2015-11-09 21:43] rooneywp opened #93 "Join 18F Application: Update order of questions"
This issue can be done once the final changes to the application have been made.

To better facilitate the manual processing required per applicant, reorder the questions within the application

New Order:
Name
Email
Phone
City
State
ZIP Code
Vet Preference
Additional Opportunities
Eligibility
Availability
Preferred location
Where did you learn about 18F? (Add something that says enter referral in

[2015-11-09 23:26] fureigh commented on #89
@rooneywp Doublechecking: we no longer need to capture points, just a yes/no?

[2015-11-09 23:28] fureigh commented on #90
@rooneywp How about: "Where did you learn about 18F? If someone referred you to us, please include their name."

[2015-11-10 00:23] fureigh opened #94 "Update README to be specific to this project"
Per @coreycaitlin's observation that the README for this repo is currently the same as the one for the 18F Guides Template.

[2015-11-10 15:56] pixelwake commented on #89
@fureigh Just saw that there is a Joining 18f app repo, ooops. Do you want me to move these issues over there?

Re: points - We do not need to capture the points or their specific level of preference since we aren't actually applying the preference ourselves. Also the qualification method we are using preference is applied using points.

[2015-11-10 15:57] pixelwake commented on #90
@fureigh That works for me!

[2015-11-10 22:02] fureigh commented on #90
@rooneywp Right-o. I'll make that change.

[2015-11-10 22:15] #90 closed

[2015-11-10 22:19] fureigh commented on #89
@rooneywp Nope, this is the perfect place for these issues, though that's a good reminder to update both projects' READMEs to clarify their relationship. (The other repo is for the Flask app that's been put on hold.)

Thanks for the clarification re: points. Updated in the Google form.

[2015-11-10 22:20] fureigh opened #95 "Clarify relationship between this and joining-18f-app"
...in each project's README. Per #89.

[2015-11-12 16:29] rooneywp opened #97 "Join 18F Application: Remove the auto sort from response sheet"
Change: To facilitate the manual processing activities, remove the auto sort function from the application response sheet.

Notes: The vet auto sort is no longer necessary since all candidates will go through qualification and OHRM will review all for Vet status and apply accordingly.

[2015-11-12 20:33] pixelwake commented on #77
New updates to proposed language for the MVP for guidance on selecting a GS grade. This hasn't been proofed/edited, looking to get feedback.

https://docs.google.com/document/d/1V9mVCsDFrGwVjDPoLlx5BPkH2u9mIlcCU72m_HTCSRM/edit

Two options for how we display the information to the user. Table and bullet list.

[2015-11-13 00:40] fureigh commented on #77
Looking good! The table display is much clearer. I went ahead and made some copy edits in #98. Let me know what you think.

There may be room to make the salary/locality part clearer... what would you think of including sample numbers for SF and DC [and perhaps others]? I'm trying to avoid people in places with significant locality pay closing the tab because they don't realize at a glance that th

[2015-11-13 00:43] fureigh commented on #97
@rooneywp Roger. If it's no longer to autosort by veteran status (even yes/no), the responses will be automatically sorted in reverse chronological order. Please confirm that that's the desired result.

[2015-11-13 16:23] pixelwake commented on #97
@fureigh Reverse chronological is fine.

[2015-11-13 17:43] rooneywp opened #99 "Who We Are Hiring: Add updated roles"
We need a way to house the different roles that we are currently hiring for so that applicants can see if there is something they are specifically interested in and that they can use during the application process to indicate that interest.

Potential solutions
MVP: Use the current Who We Are Hiring page and add the positions with a short blurb about each.

Long term: Create a new page that is use

[2015-11-13 18:41] rooneywp opened #101 "Join 18F Application: Add new essay"
**Change:** Add a new essay to the application that will allow us to capture the applicants interest in a particular role or team at 18F in addition to serving as a writing sample.

Proposed Question: What role or team at 18F do you believe you are the best fit for and that most excites you? Why?

Additional language to be included with the question: If you need inspiration, check out this page (l

[2015-11-13 19:16] fureigh commented on #99
@rooneywp FYI: we took down the longer position descriptions while the new process was being worked out, but they're still available at https://github.com/18F/joining-18f/tree/18f-pages/_positions and could easily be reintegrated.

[2015-11-13 19:34] pixelwake commented on #93
Here is the final list of Functional Skills

Acquisition, Contracts
Business Development
Communications, Marketing
Consulting
Cybersecurity
Design: Visual
Design: Content
Design: Front End
Design: UX, Research
Operations, Recruiting
Product Management
Project Management
Software Dev: Front End
Software Dev: Back End
Software Dev: DevOps, SRE

[2015-11-13 19:35] fureigh commented on #93
:+1:

[2015-11-13 19:45] fureigh commented on #93
@rooneywp Just confirming: this overrides previous skill lists that included things like data visualization, yes?

[2015-11-13 19:46] fureigh commented on #93
I'll keep the 'citizenship' field (checkbox) above vet preference.

[2015-11-13 19:51] fureigh commented on #93
Whoops — just saw that it's accounted for above as "eligibility." Disregard my last comment.

[2015-11-13 19:53] pixelwake commented on #91
Here is the final list of Functional Skills

Acquisition, Contracts
Business Development
Communications, Marketing
Consulting
Cybersecurity
Design: Visual
Design: Content
Design: Front End
Design: UX, Research
Operations, Recruiting
Product Management
Project Management
Software Dev: Front End
Software Dev: Back End
Software Dev: DevOps, SRE

[2015-11-13 19:55] pixelwake commented on #93
@fureigh Re:Functional Skills Yes, this replaces the existing list. Also, realized that I included that comment on the wrong issue. I copied it to #91

[2015-11-13 19:59] fureigh commented on #93
@rooneywp :+1: Thanks for copying to #91.

About the first part: is the question "What role at 18F most excites you and that you believe you are the best fit for and why?" still in development? I'd suggest "What role at 18F do you believe you're the best fit for and why?" — with or without the "and why."

[2015-11-13 20:10] pixelwake commented on #93
@fureigh I actually created a separate issue #101 for that essay question. (Definitely want to retro with you after this to get your thoughts on github best practices).

I like "What role at 18F do you believe you're the best fit for and why?"

I like the " and why". I think it does a good job prompting the applicant for more than just listing the role.

[2015-11-13 20:37] fureigh commented on #97
@rooneywp Done. [Take a look](https://docs.google.com/spreadsheets/d/1mgwSBbgNfHzxp-goq-zlAv3lSlfVCOB8NmbKq1FoEiY/edit#gid=1220387769) and if it looks good to you, close this issue.

[2015-11-13 21:11] pixelwake commented on #97
:+1:

[2015-11-13 21:11] #97 closed

[2015-11-13 21:25] fureigh commented on #99
MVP was closed in #99; leaving this issue open for the longer-term version.

[2015-11-13 21:54] fureigh commented on #91
@rooneywp I updated the list of skills to match the above.

Of the presentation options, I lean toward the second because completing 15 fields is arduous... anyone else listening want to weigh in or do a hallway usability test?

[2015-11-13 21:58] fureigh commented on #93
@rooneywp Right-o. Added the Q to the application.

[2015-11-13 22:01] fureigh commented on #93
(I'm currently implementing as stated above, but for future reference, the order of questions that we present to the applicants is separable from the order of questions in the results spreadsheet.)

[2015-11-13 22:06] pixelwake commented on #93
@fureigh Good to know! That will certainly make things easier for next time.

[2015-11-13 22:12] pixelwake commented on #99
@fureigh Ok great, I wasn't sure how much work it would be to bring those back online. What about creating a separate page? Does it require more than adding the file in the repo?

The next item is for me to collect updated Profiles for all the roles.

[2015-11-13 22:14] fureigh commented on #101
@rooneywp What's the intended end of that last sentence?

[2015-11-13 22:18] fureigh commented on #93
@rooneywp The [Google form version](https://docs.google.com/forms/d/1OCtPVLMP8O5nfDnGTJZngxFxZR4EvFcYSqJ-thHxojc/viewform?usp=send_form) of this is ready for review. Take a look and let me know whether it's good to go. (I took a stab at #101 too.)

[2015-11-13 22:24] pixelwake commented on #101
@fureigh It was only intended to encourage the applicant to provide their own suggestion in case they didn't see an exact role. Didn't want them opting out just because there wasn't a match. It needs revised for sure and if it's too confusing we can drop it.

[2015-11-13 22:35] pixelwake commented on #93
@fureigh Can we change the values in the drop down for "What position (grade level) are you applying to?" to be:

Innovation Specialist (Grade 13)
Innovation Specialist (Grade 14)
Innovation Specialist (Grade 15)

I know it's bulky but it will keep us in closer compliance with HR.

[2015-11-13 22:39] fureigh commented on #93
@rooneywp Yep! Anything else or are we ready for @xtine to work her magic?

[2015-11-13 22:40] fureigh commented on #93
(I changed it to the even bulkier, but consistent with the no-'grade'-left-without-its-'level', 'Innovation Specialist (Grade Level 13)', etc.)

[2015-11-13 22:41] fureigh commented on #101
@rooneywp I shortened the last sentence to "Just tell us what you think."

[2015-11-13 22:47] pixelwake commented on #93
@fureigh Looks good. The last thing for the app looks the Functional Skills section #91

[2015-11-13 22:49] fureigh commented on #93
@rooneywp Ah, yes. I'll implement option 2 for now; we can always iterate on it.

[2015-11-13 22:49] pixelwake commented on #93
:+1:

[2015-11-13 22:50] pixelwake commented on #92
@fureigh Language was updated.

[2015-11-13 22:50] #92 closed

[2015-11-13 22:57] fureigh commented on #93
@rooneywp Ready for another look.

[2015-11-13 22:58] fureigh commented on #91
@rooneywp Ready for review.

[2015-11-13 23:03] fureigh commented on #94
Closed in #96. Thanks, @coreycaitlin!

[2015-11-13 23:03] #94 closed

[2015-11-13 23:04] #89 closed

[2015-11-13 23:04] fureigh commented on #77
Thanks for adding those sample numbers, @rooneywp. Closing this issue.

[2015-11-13 23:04] #77 closed

[2015-11-13 23:05] fureigh commented on #76
Closing this, as the minimum viable version has been incorporated into the Google form via #93.

[2015-11-13 23:05] #76 closed

[2015-11-13 23:06] fureigh commented on #27
Closing this because it's handled in #100.

[2015-11-13 23:06] #27 closed

[2015-11-13 23:12] pixelwake commented on #91
@fureigh One last request on this, can we make the 2nd and 3rd skill's required? I know it's not ideal for UX but we may need that data to justify how the applicants are being routed to the SMEs during qualification.

After that :+1:

[2015-11-13 23:13] fureigh commented on #91
@rooneywp I'm :+1: to being able to justify applicant routing, but what's someone supposed to do if only one of the skillsets applies to them? I think we risk getting false (and more confusing) data if we require the second and third.

[2015-11-13 23:21] pixelwake commented on #91
@fureigh Good point. Let's go with it as is. This will could be a good experiment that will provide data as we review option 1.

[2015-11-13 23:22] pixelwake commented on #101
:+1:

[2015-11-13 23:22] #101 closed

[2015-11-13 23:24] pixelwake commented on #93
:+1:

[2015-11-14 00:49] fureigh commented on #91
@rooneywp :+1:

(Future metrics include thumbs-ups per hour. :) )

[2015-11-14 00:49] #91 closed

[2015-11-14 00:52] #93 closed

[2015-11-16 18:32] fureigh opened #103 "Restore application link and remove hiring freeze notice"

[2015-11-16 18:49] fureigh commented on #103
Closed in #104.

[2015-11-16 19:07] #103 closed

[2015-11-16 19:13] fureigh opened #105 "Interviewing rubric is currently engineering-specific"
**Current behavior:**
The rubric on the [interview process](https://pages.18f.gov/joining-18f/interview-process/) page is specific to engineering. It used to be coupled with the interview format on the [engineering interviews](https://pages.18f.gov/joining-18f/interview-process/interviews/engineering-team/) page, which is now more minimal. Perhaps someone split them up?

**Desired behavior:**
- Th

[2015-11-16 19:18] fureigh opened #106 "Set expectations about when applicants can expect to hear back"
Following up on @hestherchang and @jamiealbrecht's convo.

[2015-11-16 19:18] fureigh opened #107 "Rework inclusion of USDS"

[2015-11-16 19:19] hestherchang commented on #106
we decided to leave it general - something like "you'll hear from us soon". thanks for staying on top of this!

[2015-11-16 19:19] #106 closed

[2015-11-16 19:21] fureigh commented on #106
Great! Closed in record time. :)

[2015-11-16 19:54] rooneywp opened #108 "Join 18F Application: Update Eligibility Section."
Update the language in the Eligibility section of the application to be:

"Any individual who is not currently a GSA employee or contractor and who is a U.S. Citizen, a non-citizen national of the U.S., or holds a valid green card is eligible to apply."

[2015-11-16 20:00] pixelwake commented on #108
Closing this issue, created a PR instead.

[2015-11-16 20:00] #108 closed

[2015-11-16 21:18] hestherchang opened #113 "Rewording referral section"
Currently reads "If someone referred you to us, please include their name."

However, candidates also have referral codes we gave them (they aren't people names). Can we pls include something like the message below under "Where did you learn about 18F?"?

"if someone referred you to us, please include their name. If you have a referral code, please include that in the box below."

@jamiealbrecht

[2015-11-16 21:20] jamiealbrecht commented on #113
How about: Please mention names of the 18F Team Member that referred you or a code if applicable.

[2015-11-16 21:29] hestherchang commented on #113
Perfecto!

[2015-11-17 00:35] hestherchang opened #114 "Edit: About the "why:""
On the application, (I think) it should be...

About the "why":

not... About the "why:" (switch colon & closing ")

[2015-11-17 15:09] meiqimichelle commented on #99
( /cc @meiqimichelle for anything re: front end designer position )

[2015-11-17 16:20] rooneywp opened #115 "Join 18F Application: Eligibility"
This issue doesn't required immediate action.

@fureigh What do you think about making the Eligiblity quesiton required? I know that there is only one response possible, but if we make it required then the applicant will either be unable to submit the application or they will be forced to lie if they do not, in fact, meet eligibility requirements.

There are a few applicants that didn't submit a r

[2015-11-17 16:37] pixelwake commented on #115
@fureigh actually just realized that for some reason no one is checking the box. I was previously looking at old responses. In the previous form, most people checked the box so I'm not sure what has triggered the behavior change

[2015-11-17 19:36] fureigh commented on #115
@rooneywp I'll check the code to see whether something changed there (such as the value that's being logged).

I've been inclined to not require that field because it runs the risk of people submitting false positives, accidentally or otherwise, which is different from someone actively clicking the checkbox. I'm willing to require it as a stopgap measure, though.

[2015-11-17 19:40] fureigh commented on #115
@rooneywp One was logged today, so I believe it's a UX issue. How about I move the eligibility question to the top of the form? My thinking on that is:
1. People will be most attentive to the first question on the form, and
2. If someone's _not_ eligible, we don't want to waste their time with any other questions.

[2015-11-17 19:51] pixelwake commented on #115
Let's give it a shot and see if response rate goes up. I agree that a false
positive is more costly and we want to avoid.

What about changing the format of the question to have two choices, a yes
and a no choice? Then requiring? I know it's been a single response format
from the beginning but I'm not sure if there is an actual requirement there.

On Tuesday, November 17, 2015, Fureigh notificatio

[2015-11-17 21:09] fureigh commented on #115
@rooneywp Good call; the current checkbox approach is drawn from the example of the Presidential Innovation Fellows' application.

I just moved the eligibility question. If that doesn't fix it, reopen this issue and I'll change the question to be required and have yes/no answers.

[2015-11-17 21:09] #115 closed

[2015-11-18 00:24] fureigh commented on #113
But people are sometimes referred by non-18Fers, no? If Todd Park referred an applicant, I wouldn't want them to refrain from mentioning that just because he's not an 18F team member.

How about:

[2015-11-18 00:26] fureigh commented on #113
On second thought:

...so it doesn't read as "you must _always_ include a name, but include a referral code only if applicable."

[2015-11-18 00:32] fureigh commented on #113
@hestherchang I went ahead and submitted a pull request (#117) but feel free to make further edits.

[2015-11-18 00:57] fureigh commented on #114
[You're](http://blog.apastyle.org/apastyle/2011/08/punctuating-around-quotation-marks.html) [right](http://www.scribd.com/doc/2664713/Associated-Press-AP-Style-Guide-the-basics#scribd)!

Happy to take a few minutes on Friday to share how to make and propose these changes yourself, if you'd like. @jamiealbrecht can attest it's not that scary. :)

[2015-11-18 00:58] #114 closed

[2015-11-18 15:49] rooneywp opened #118 "Join 18F Application: Automated email sent after form completion"
A confirmation email is sent to candidates that have successfully submitted an application.

Problem: Applicants are unsure if their application was successfully submitted and reaching out to talent team to confirm if their application has been received.

Note: I just wanted to capture this issue somewhere. It may not be something that we can or will want to do with this interim solution but didn'

[2015-11-18 17:11] hestherchang commented on #114
Yeah - would def like to learn! I thought all issues had to be submitted through here but yes, definitely would like to make edits as needed. I'll find some time for us on Friday - thanks :)

[2015-11-18 17:30] #113 closed

[2015-11-18 17:39] pixelwake commented on #107
Interim solution in PR #120

[2015-11-18 17:39] pixelwake commented on #105
Interim solution is in #121

[2015-11-18 17:41] pixelwake commented on #99
@fureigh Can you create a new page just for the roles? Once we have that I up I can start populating it with the copy and links.

[2015-11-18 18:49] fureigh commented on #118
They should currently see a confirmation message on-screen, but it's understandable that they'd be more certain if they also received an email. Thanks for capturing this feedback.

[2015-11-19 00:22] kaitlin commented on #105
We specifically added this information to make our interviews more accessible for diverse candidates. We want everyone to come in to the interview knowing what to expect and how to put their best foot forward. It helps prevent hiring for confidence instead of skill.

[2015-11-19 16:48] pixelwake commented on #107
#122 Capturing this issue here.

In addition to the reworked language describing the coalition, we need to modify the referral code to ensure clarity.

[2015-11-19 18:20] rooneywp opened #124 "Create new and update existing performance profiles in the repo & Push to Join Page"
The performance profile pages need to be updated with the new content generated by the team.

Writing Lab Copy Request Issue: 18F/writing-lab#65

 - [x] Content designer
 - [x] Director of Outreach #141 (Pending 18F/writing-lab#55)
 - [x] Acquisition Specialist #133
 - [x] Data Architect #134
 - [x] Practical Dev #135
 - [x] Product Lead #136
 - [x] Software Developer (Front-End, Back-End, Full-St

[2015-11-19 18:20] pixelwake commented on #124
Content Designer profile created #125

[2015-11-19 18:32] pixelwake commented on #99
@fureigh Disregard the previous comment. Instead of creating a new page I think we can just rearrange the information and use the existing who we are hiring to house the role info. Submitted PR's for the initial move #126  #123

[2015-11-19 22:35] fureigh commented on #105
Noting that @rooneywp restored the list in #121 and that follow-up should include moving the engineering-specific rubric back to the engineering interview page.

[2015-11-19 23:09] rooneywp opened #127 "Add the approved Innovation Specialist PD's to the site"
Confirm the policy requirements for postings
- [x] Public Announcement Requirements

Create profile files using the PD's

Writing Lab Issue for final PD proofing: 18F/writing-lab#71

- [x] GS 13 #128
- [x] GS 14 #150
- [x] GS 15 #151

Find home on Join Page for PDs
- [x] Language/Messaging for site
- [x] Link PD files

[2015-11-20 00:27] fureigh commented on #124
@rooneywp JFYI if you like checkboxes (I do), here's how to do 'em in Markdown:
- [x] Content designer
- [ ] Whatever's next
- [ ] Etc.

You can edit the issue description up at the top of this page. The downside is that editing the description to check additional boxes doesn't trigger a GitHub notification, but they're handy for work-in-progress pull requests and such.

No pressure to add checkbo

[2015-11-20 20:52] fureigh commented on #1
@waldoj Thank you for sharing these important concerns! I'm told @jamiealbrecht reached out to you separately, but for anyone else who's watching: the process has changed such that this is no longer the case. Applicants now self-select the GS level to which they're applying.

[2015-11-20 20:52] #1 closed

[2015-11-20 20:59] waldoj commented on #1
Yay! I'm happy to hear it. :)

[2015-11-20 21:04] fureigh opened #129 "[stub] GS level advisor for new applicants"
This is a stub for building a tool to help people find out which level they fit best. Why? To help applicants navigate what's often an unfamiliar process, and to in so doing mitigate some of the documented tendencies toward overestimation and underestimation of qualification (in the non-technical sense) that could otherwise lead to or perpetuate troubling pay discrepancies.

Expanding on #76, whic

[2015-11-20 21:06] jackiekazil commented on #129
:+1:

[2015-11-20 21:53] fureigh commented on #1
:)

[2015-11-21 00:25] pixelwake commented on #127
This is pending as I investigate the policy requirements

[2015-11-21 00:26] pixelwake commented on #127
GS 13 PD - #128

[2015-11-23 18:07] fureigh opened #132 "Clarify what to expect if your application isn't "qualified" at the GS level you select"
Specifically, that reclassification to a different level isn't a matter of negotiation but instead requires reapplying.

[2015-11-23 18:30] fureigh commented on #132
Entails delay but no detriment to evaluation of application.

[2015-11-24 16:46] pixelwake commented on #99
Closing this issue. MVP was ready for launch and new page has been created. Ongoing changes captured in #124

[2015-11-24 16:46] #99 closed

[2015-11-24 17:57] rooneywp opened #143 "Join Page: Qualification Process Update"
Need: Update the join page to include information about the qualification process, including category rating. This is to meet policy requirements as well as to inform the applicant.

- [x] Basis of Rating: Category Rating Section & qualifications bands #149
- [x] Veteran's Preference Section #149
- [x] General timelines for qualification process - To #75
- [x] Application modification language

Cl

[2015-11-24 17:58] pixelwake commented on #14
Closing this issue, addressed performance profile issues and captured remaining here #143

[2015-11-24 17:58] #14 closed

[2015-11-24 19:49] pixelwake commented on #12
Closing this issue. Addressed with the changes to the process and updates to join page. Additional improvements captured in #75

[2015-11-24 19:49] #12 closed

[2015-11-24 19:59] pixelwake commented on #6
-bump-

Don't want to lose this issue. This could be an excellent recruiting/retention tool for 18F.

[2015-11-24 20:08] pixelwake commented on #57
bump
#124 brings additional clarity to the roles at 18F.

Since we allow applicants to apply based on skill and their role choice is only in essay format, hopefully we don't have many that wouldn't apply at the time they first look at the application.

However, they may apply and select a role that we aren't really looking for and therefor won't likely be selected. So it would be great to be able

[2015-11-24 20:11] pixelwake commented on #107
@fureigh Should we close this issue? We have addressed the primary concerns and we are comfortable with the current state of USDS representation on our site.

[2015-11-24 20:54] fureigh commented on #57
Yeah, the "desired behavior" part above is the crux of it:

Or, as you said,

What's the next step here?

[2015-11-24 21:01] fureigh opened #144 "Application form isn't included in analytics"
**Current behavior:**
When I view the source code for the [application form](https://pages.18f.gov/joining-18f/pages/apply.html) I see no evidence that Google Analytics is tracking that page. Compare to, for instance, the source code of the [How to apply](https://pages.18f.gov/joining-18f/how-to-apply/) page, which does include Google Analytics.

**Desired behavior:**
The application form is inclu

[2015-11-24 21:38] rooneywp opened #146 "Join 18F Application - Re-add the preference levels to Vet question"
Based on requirements from HR, we need to have each of the levels available for the applicant to selection from.

Here are the categories:

0-point Sole Survivorship Preference (SSP).
5-point preference based on active duty in the U.S. Armed Forces (TP).
10-point preference based on a compensable service connected disability of at least 10% but less than 30% (CP).
10-point preference based on a co

[2015-11-24 21:38] pixelwake commented on #146
@fureigh Just added this issue

[2015-11-24 22:12] fureigh commented on #146
@rooneywp Right-o. These are the same as the ones we had before, right?

[2015-11-24 22:16] pixelwake commented on #146
@fureigh We should use whatever we had on the site before. I can't remember if what I listed are the same as before but what we had before takes precedent over what I listed.

[2015-11-24 22:17] #144 closed

[2015-11-24 22:37] #146 closed

[2015-11-24 22:47] gboone commented on #6
Totally agree. I got an answer form my loan servicer about the "same employer" question: It does not need to be the same employer, nor do the 120 payments need to be continuous. Based on that it would seem like if you came from a qualifying organization, the 48 payments made while you're with 18F would count toward your 120.

The Student Loan Repayment Program would also be a good retention tool.

[2015-11-24 22:50] fureigh commented on #6
:+1: Thanks for raising the issue, @gboone, and for bumping it, @rooneywp. Definitely doesn't need to be same employer or continuous.

@gboone, would you be game to draft copy or a pull request for this?

[2015-11-24 23:39] fureigh commented on #107
@rooneywp Looks like @kimballce's [initial comment](https://github.com/18F/joining-18f/pull/122#issue-117644771) hasn't been addressed. Want to add that referral code to the USDS section of [Roles and teams](https://github.com/18F/joining-18f/blob/534fc9748d84e313b54d3698cb60c9b63a85ba45/pages/roles-and-teams.md)?

[2015-11-25 16:01] pixelwake commented on #107
@fureigh We can put it there but I'm not clear on what insight we are looking for by having USDS track that code. I'd almost rather not include it on the site, so that there isn't any confusion when we actually refer people to apply to USDS. What do you think?

[2015-11-25 16:22] kimballce commented on #107
@rooneywp , speaking for USDS, it's very helpful for us to track where our candidates are getting referred from, and we would like to continue to know who came to our application by way of 18F's website.

When an actual 18F human refers someone to USDS, the candidate should write the name of the referrer in the referral code field.
cc: @JenTress

[2015-11-25 16:42] pixelwake commented on #107
Captured in PR #148

[2015-11-25 17:59] gboone commented on #6
Will do; will post the draft here when it's going.

From the Student Loan Repayment Program page:

I assume that is not us, though we are excepted from the competitive civil service, right?

Also:

Since our contracts are NTE 2 years with a renewal option. Does that mean we're not eligible or only eligible after we reup for years 3-4?

[2015-11-25 18:26] rooneywp opened #152 "Add language to application response that indicates to close window"
When the application is submitted and the green box appears stating it has been submitted, the user is unclear of where to navigate next. Feedback has been that it "stalls out". This may also have resulted in people refreshing the page and double submitting.

[2015-11-25 18:43] rooneywp opened #153 "Applications being submitted but not captured in responses"
So far there have been two instances where an applicant has completed and submitted an application but the record was not created in the response sheet.

[2015-11-25 18:57] rooneywp commented on #153
Instance 1
Applicant: Kendra Howard

Original submission: 11/16 - Failed
First re-submission:  11/25 approx 9:47 pst - Failed

I sent her the direct link to the form instead of the Join Page. When she used that link the submission was successful. I also had her take a screen shot of the application:
[Kendra-Howard-App-Screenshot.pdf](https://github.com/18F/joining-18f/files/44211/Kendra-Howard-App

[2015-11-25 18:59] fureigh commented on #153
@rooneywp Thanks for the bug report! Can you send me the above privately and redact the comment ASAP? I <3 working in the open but let's be careful to not share applicants' information in this public repo.

[2015-11-25 19:21] fureigh commented on #153
Looping in @xtine:
1. Any insights?
2. As @rooneywp hasn't yet been able to reproduce the error, there's a chance applicants are thinking they've submitted the form when they actually haven't. What would you think of redirecting to a confirmation page instead of using that confirmation modal?

[2015-11-25 19:23] fureigh commented on #153
Might be overkill, but if this persists we could put a Google Analytics click handler on the submit button and compare the results against the number of applications received (since the time the click handler was added).

[2015-11-25 20:18] fureigh commented on #6
Hmm. Who might know the answer to these questions (or who would know)? @cbrydges? @JenTress?

[2015-11-25 20:24] fureigh commented on #107
Thanks for the quick reply, @kimballce! Very helpful.

[2015-11-25 20:34] #107 closed

[2015-11-25 21:45] xtine commented on #153
I think redirecting to a confirmation page might be better than the modal for user experience. I'll be happy to create the thank you page but I would need help in what the page should say (success paragraph, maybe an e-mail contact as well for further questions?)

On the technical side however, a redirect or a modal trigger are still both events that happen after a form success callback. There are

[2015-11-27 18:57] fureigh commented on #152
There's discussion in #153 about having a confirmation page instead of a modal window. If we go that direction, I believe it'll eclipse this ticket.

[2015-11-30 18:20] fureigh commented on #153
@xtine Thanks! How about we start with the content that's in the current modal, plus the "If you have any questions" line from the [How to Apply](https://pages.18f.gov/joining-18f/how-to-apply/) page?

Hopefully failure to redirect to a confirmation page, if that ends up being part of the issue, will be clearer than failure to get a confirmation modal.

[2015-11-30 18:22] fureigh commented on #118
Flagging as related to #153.

[2015-12-01 23:28] fureigh opened #155 "Update position descriptions' permalinks to be in 'roles-and-teams', not 'who-we-are-hiring'"
Now that role descriptions are on a 'Roles and Teams' page (#130), let's update the position descriptions to be nested under `roles-and-teams`, not under `who-we-are-hiring`.

**Technical notes:**
 * Update the permalink. For an example, see #140.
 * Be sure to preserve redirects in cases where the position page is extant (i.e., unless the position in question is a brand-new page). Use `jekyll-red

[2015-12-02 21:59] cbrydges commented on #6
This would be a question for our benefits specialist - Marty.  I will send her an email and let you know what she says.  BTW - sorry for the delayed response - not used to GitHub (learning) and am getting a lot of messages from it right now :)

[2015-12-03 03:07] fureigh commented on #6
Thanks, @cbrydges! Happy to help with GitHub sometime if you like; @jamiealbrecht can provide references. :) In the meantime, I'll assign this issue to you so it's clear that you're the person currently moving it forward.

[2015-12-04 01:20] fureigh commented on #152
@rooneywp, now that #156 is merged, this may no longer be necessary. Take a look at the current application and let me know what you think.

[2015-12-04 01:20] fureigh commented on #153
Closed in b3d6e8a/#156.

[2015-12-04 01:20] #153 closed

[2015-12-04 01:21] fureigh commented on #153
Rather — we think that'll address it. @rooneywp, if the problem persists, please reopen this issue. Thanks!

[2015-12-04 01:22] fureigh opened #157 "Link to application should be relative"
Noticed when testing #156 on staging that the `how-to-apply` page's link to the application is currently hardcoded to the production site's domain. TODO: Update it to be relative.

[2015-12-04 20:10] fureigh opened #159 "Clarify what kind of résumé is needed"
We're not using a federal résumé in the technical sense, but we are requesting something longer than most workplaces would want.

Are the guide and example résumés listed on the [How to apply](https://pages.18f.gov/joining-18f/how-to-apply/) page still relevant? If not, let's create amended versions. They could conceivably be useful to other digital service teams in the future.

[2015-12-04 20:59] pixelwake commented on #124
Created writing lab issue and updated the original issue description with the appropriate links.

[2015-12-04 21:16] pixelwake commented on #152
@fureigh Agreed. #156 addressed this issue. Closing.

[2015-12-04 21:16] #152 closed

[2015-12-04 21:19] pixelwake commented on #118
@fureigh We may be able to close this issue as I think it was also addressed by #156 Thoughts?

[2015-12-04 21:22] rooneywp opened #160 "Document working under legal name or other similar requirements"
Confirm what the current requirements are for having to work under your legal name
Find a home for that information on the site

[2015-12-04 21:25] rooneywp opened #161 "Dynamic display of the point in time of the current application sprint"
**User story:** As an applicant I want to know the point in time of the current sprint that I am applying so that I can have a better idea of the expected timeline

[2015-12-04 22:10] fureigh commented on #160
The eventual home for this may be the same as for #68.

[2015-12-04 22:16] fureigh commented on #118
@rooneywp #156 should make it clearer to applicants that they've submitted the application, but applicants may still want a confirmation email... a spot of user research could address this question.

[2015-12-04 22:51] fureigh commented on #124
@rooneywp Thanks! A technical note: it'll need to be `active: true`, not `Active: TRUE`, to work. Mind updating the above?

[2015-12-04 22:52] fureigh commented on #124
(edited my last comment to fix a confusing typo ('false' instead of 'true'))

[2015-12-07 18:02] pixelwake commented on #127
Created writing lab issue for final proofing of PD's. Updated original comment with link to issue.

[2015-12-07 18:20] rooneywp opened #162 "Join Page and/or Application: Add emphasis/clarity to how the application will be used"
Issue: Applicants may not understand the importance of the application package and because of that, may not be investing as much time into their submission.

Potential solution: Add language to the Join Page and Application (or link to information) that states that this is the information that will be used to determine whether or not they will be selected for interview.

[2015-12-08 21:09] fureigh opened #164 "Tweak output of dates and links for compatibility with new system"
A request from @NoahKunin:

[2015-12-09 00:35] fureigh opened #165 "Multiple applications submitted in rapid succession"
Seven identical applications were submitted milliseconds apart around 8:46 a.m. today. #156 was meant to preclude this but the problem persists.

**Desired behavior:**
Only one application is recorded per submission.

**Actual behavior:**
Sometimes multiple application records are created in rapid succession, apparently triggered by the same submission.

**Steps to reproduce:**
Not yet clear.

[2015-12-09 00:35] fureigh commented on #165
@xtine, are you game to look into this? I ask because of the possible connection to #156.

[2015-12-09 00:37] fureigh commented on #164
@NoahKunin: This ~~S~~should be feasible.

Would you prefer to have the transformed data in a separate sheet (as opposed to new columns within the existing sheet)? If so, which other fields should also be included?

[2015-12-09 20:14] JennMoran commented on #124
@rooneywp I have a new profile for consulting to add to our website #166

[2015-12-09 20:25] afeld commented on #155
Are there longer job descriptions that should be linked to from https://pages.18f.gov/joining-18f/roles-and-teams/? Sorry that I'm coming into this without context.

[2015-12-11 04:13] afeld opened #170 "Suggestions for the form"
Just read through the site thoroughly for the first time since the new application process was implemented – very glad that we're publishing so much information there! Jotted down a few things that I think could make the form better:

* [ ] Change the headings to be sentence case (per the [content guide](https://pages.18f.gov/content-guide/capitalization/)), and remove the colons.
* [ ] Make the "

[2015-12-14 21:34] fureigh commented on #170
Thanks for these, @afeld! I was just about to open an issue about the "verify X" checkboxes.

@bill or @jamiealbrecht, what would you suggest for the third point ("guidance about how much information we're looking for in the free-form questions")?

[2015-12-15 15:45] rooneywp opened #182 "Position files not displaying lists correctly on Pages"
The position files will preview correctly but when you view it live on Pages, the bullet list is not displaying. I tested it with the new Director of Outreach file and was able to recreate and correct the issue consistently.

It appears that for the list to display correctly on Pages there must be a return before the list starts.

Original block - does not display list on Pages
[code]

Correct blo

[2015-12-15 16:09] pixelwake commented on #182
Updated new profile files to correct the list issue.

[2015-12-15 16:09] #182 closed

[2015-12-15 17:23] SeanKilleen commented on #157
Happened to be exploring this briefly and noticed this bug. Will submit a PR for this shortly (and a separate PR to move the rest of the links to be relative afterwards).

[2015-12-15 17:41] SeanKilleen opened #185 "Ensure Relative URLs"
As noted in #157, URLs within the markdown aren't always relative, which can be cumbersome when building/viewing pages locally.

I'm happy to take care of this.

[2015-12-15 17:42] SeanKilleen commented on #185
FYI, I'll create a WIP PR and push many small changes. I'll squash at the end if desired.

[2015-12-15 17:43] fureigh commented on #185
@SeanKilleen No need to squash; a WIP PR with many small changes sounds perfect. Thanks for your work on this!

[2015-12-15 19:03] SeanKilleen commented on #185
@fureigh sorry to bug on this -- it's a little more complex than I initially thought.

## The Problem
The issue is that in some cases (e.g. locally), a relative URL (e.g. `/page/mypage`) will be from the hosted jekyll site (e.g. `http://localhost:4000/page/mypage`). However, when hosted, the link would actually need to be `pages.18f.gov/joining-18f/page/mypage`, and that extra sub-site will break

[2015-12-15 22:01] pixelwake commented on #170
@afeld @fureigh  We can add some guidance to those fields if we think it's necessary. What's the best way to draft up the content? Since it's the application, I'm not sure where to create the PR.

[2015-12-15 22:29] afeld commented on #170
Yeah, it wouldn't be a pull request since it's in Google Docs...feel free to just check the simple things above, or propose changes here.

For the length guidance, I think something as simple as "a paragraph or two is fine" would work.

[2015-12-15 23:22] rooneywp opened #187 "Joining 18F Application - Make role selection required and a drop down"
Restrict people to only applying for the specific roles that are listed on our roles and teams site.

- [x] #183 merged to update roles and teams
- [x] Update "what role" question on application

**Proposed Change**

**Question**
Current: "What role or team at 18F do you believe you're the best fit for and why?"
Proposed: "Please select the role that you would like to apply to"

**Format:** Text B

[2015-12-15 23:24] pixelwake commented on #187
@fureigh this is an issue that we would like to address quickly. Let me know if you have any questions or need additional info. Also feel free to make whatever copy edits you see fit.

[2015-12-16 01:37] fureigh commented on #187
@rooneywp Thanks for the heads-up. I have to head out for the night but will address this first thing in the morning.

[2015-12-16 18:17] pixelwake commented on #187
Updated the drop down values

[2015-12-16 18:18] fureigh commented on #187
@rooneywp Where did you update the dropdown values?

[2015-12-16 18:19] pixelwake commented on #187
@fureigh in the main issue comment

[2015-12-16 18:33] fureigh commented on #187
@rooneywp Right-o, thanks for clarifying. Making those changes in the form now.

One issue in the meantime: not all roles listed above are currently represented on the roles page in #183. Want to add/restore them in #183?

[2015-12-16 18:38] pixelwake commented on #187
@fureigh Yep, #183 was updated to include all those roles now

[2015-12-16 18:38] fureigh commented on #187
@rooneywp As someone who's been reviewing applications, I'll be sorry to lose the "and why?" element of the application, which has been helpful in contextualizing people's self-evaluations and interests. Is the goal to make it easier to categorize and sort responses? If so, what if we added a "why" textbox after the dropdown?

[2015-12-16 18:40] fureigh commented on #187
@rooneywp Thanks for updating #183!

[2015-12-16 18:41] fureigh commented on #124
@rooneywp Closed by #183?

[2015-12-16 18:44] pixelwake commented on #187
@fureigh The primary intent is to limit incoming applications to only those that are for roles we are actively looking to fill (though this will make assigning SMEs much easier as well).

I like the idea of still including an essay, it could say something like "Tell us why you think you are a good fit for this role". Copy can be changed however, but I agree that the spirit of the essay is really u

[2015-12-16 18:48] pixelwake commented on #124
@fureigh I committed changes to the appropriate files setting active to true. #183 closes this issue.

[2015-12-16 18:48] #124 closed

[2015-12-16 18:54] rooneywp opened #189 "Joining 18F App: Transition to Lever"
Test and Prep for Cutover to Lever hosted app
---
**Based on the mock up workflow below each role must have a link to it's own application. To prep for cutover and test the application process, these changes must be completed.**
- [x] Update Join Page landing page apply link to direct to roles and teams #204
- [x] Update How to Apply page apply link to direct to roles and teams #205

**Updated act

[2015-12-16 21:00] fureigh commented on #187
In progress in #188.

[2015-12-17 01:11] fureigh commented on #187
@rooneywp Thoughts on whether applicants should be restricted to just one role?

[2015-12-17 01:15] pixelwake commented on #187
@fureigh Yes, let's restrict them to one role per application. We won't restrict them to submitting only one application though. This is will also be the case when we switch to Lever but with that application it will be a better experience for them.

[2015-12-17 16:53] #187 closed

[2015-12-17 17:04] fureigh commented on #187
@rooneywp Making applicants resubmit every single piece of their information when only two fields (which role and why) seems rough. Closed this issue for now because the main points have been addressed, but will Lever reduce the amount of duplicate information they have to enter?

[2015-12-17 17:25] pixelwake commented on #187
@fureigh Yep, Lever will allow the applicant to apply to multiple roles using the same information and only providing additional that is unique to that posting (though in our case they will likely be the same).

[2015-12-17 17:36] fureigh commented on #187
@rooneywp Glad to hear it. Thanks!

[2015-12-17 17:53] fureigh commented on #189
Thanks for the mockup! Makes sense to me.

I do want us to move back to dynamically generating the list of open positions, as was the case before the quick changes on September 22nd ([see this example](https://github.com/18F/joining-18f/blob/6fffe4ddb5a1815ad8b62b886d328e20525582db/pages/who-we-are-hiring.md)). I'll file an issue for that and am mentioning it here because it'll affect how the Leve

[2015-12-17 17:54] fureigh commented on #165
@xtine Bump. Any thoughts on this?

[2015-12-17 18:01] fureigh opened #192 "Reinstate dynamic generation of position listings"
**Current behavior:**
This project is set up to dynamically generate position listings ([see a past example](https://github.com/18F/joining-18f/blob/6fffe4ddb5a1815ad8b62b886d328e20525582db/pages/who-we-are-hiring.md)) but we're currently hardcoding the list of open positions on the [roles and teams](https://github.com/18F/joining-18f/blob/18f-pages/pages/roles-and-teams.md) page. This risks misma

[2015-12-17 18:02] fureigh commented on #189
Filed #192.

[2015-12-17 23:34] fureigh commented on #60
@afeld I was about to add a "Feedback about this site?" page to the side nav, but upon closer examination the site's footer does include links and encouragement to file an issue:

![join-page-footer](https://cloud.githubusercontent.com/assets/1244599/11885107/837059b2-a4d3-11e5-9375-1faace8c8981.png)

Does that suffice? Other ideas welcome.

[2015-12-17 23:37] afeld commented on #60
Yep, thanks!

[2015-12-17 23:37] #60 closed

[2015-12-17 23:41] fureigh commented on #170
@rooneywp The form is processed in Google Docs, but its markup is in [this file](https://github.com/18F/joining-18f/blob/18f-pages/pages/apply.html), so you can file a PR with text changes there if you'd like.

[2015-12-17 23:42] fureigh commented on #170
Connecting #159 for resume clarification.

[2015-12-17 23:48] sashax opened #194 "Link on application form does not have descriptive text"
Link to `roles-and-teams` in descriptive text for Please Select The Roles You Are Applying For has only the text "this page", which is not ideal for screen readers.

[2015-12-18 06:35] fureigh opened #196 "Update health insurance links from 2015 to 2016"

[2015-12-18 18:57] fureigh commented on #194
Fixed in #195. Thanks, @sashax!

[2015-12-18 18:57] #194 closed

[2015-12-24 18:12] #185 closed

[2015-12-24 18:12] #157 closed

[2015-12-25 12:23] Grantimus9 opened #203 "Application to Join 18F Link URL Validation Fails if Trailing Whitespace Present"
Problem:
Under "Where can we find you online" on the [application](https://pages.18f.gov/joining-18f/pages/apply.html), the URL validations don't strip trailing whitespace prior to validating. Result is a failing validation for what _appears_ to be a valid URL, most troublesome when copy-pasting a URL into the field.

[2015-12-28 18:42] pixelwake commented on #189
@fureigh I updated this issue to contain the items to prepare/test for the cutover.

[2015-12-28 18:52] fureigh commented on #189
@rooneywp :+1: So PR #23 contains the work and this issue exists to ensure that that work is visible in the issue queue, right?

[2015-12-28 18:56] pixelwake commented on #189
@fureigh Right, this issue consolidates all PRs for tracking and to give context to the changes. The work is in PRs #204 to #212, I linked to all in the original comment.

[2015-12-28 22:55] fureigh commented on #189
Thanks, @rooneywp. I posted replies (including some questions) in those PRs; take a look and let me know what you think. Happy to talk in realtime if that's more efficient.

[2015-12-29 00:38] fureigh commented on #189
Merging on an ongoing basis (rather than with #206 as a test) per conversation with @rooneywp.

[2015-12-29 00:47] fureigh commented on #189
@rooneywp Took another swing through and merged all but #204, #205 and #208, which have new questions.

[2015-12-29 01:01] pixelwake commented on #189
@fureigh I made the changes/updates to #204 #205 and #208. Ready for review.

[2015-12-29 01:08] fureigh commented on #189
@rooneywp I think this is all set! Please review and close to confirm.

[2015-12-29 01:52] xtine commented on #165
I'm still trying to figure this out. Since I've pushed up a fix for this (disable form submit upon successful click), there have been fewer multiple apps submitted but still happens from time to time.

[2015-12-29 02:03] fureigh commented on #165
Hmm, thanks for the update. The switch to Lever (#189) should render this issue moot.

[2015-12-29 02:14] pixelwake commented on #189
@fureigh :+1: I tested the links and everything appears to be working. :tada:

[2015-12-29 02:14] #189 closed

[2015-12-29 16:37] pixelwake commented on #143
Closing this issue. Language was added to the application response that states a estimated timeline.

[2015-12-29 16:37] #143 closed

[2015-12-29 19:47] fureigh commented on #189
![colbert-eagle-fist-bump](https://cloud.githubusercontent.com/assets/1244599/12040932/dfeb409c-ae21-11e5-9dea-aaa223d28a3d.gif)

[2015-12-29 20:12] fureigh commented on #143
Thanks, @rooneywp! Just so we know without having to submit a test application, what's the current language about that estimated timeline?

[2015-12-29 20:14] fureigh commented on #164
Closing because we've transitioned to the new system in #189.

[2015-12-29 20:14] #164 closed

[2015-12-29 20:35] jamiealbrecht opened #215 "Remove Director of Outreach"
We'd like to take down this posting while we move forward with the candidates that have already applied. We will re-post later if necessary. Danke.

[2015-12-29 23:05] fureigh commented on #215
Ready for review on staging; see pull request #216.

[2015-12-29 23:06] fureigh commented on #215
(cc @rooneywp)

[2015-12-29 23:15] fureigh commented on #215
Closed by #216.

[2015-12-29 23:15] #215 closed

[2015-12-30 00:01] fureigh commented on #203
Thanks for filing this bug report, @Grantimus9!

This appears to be fixed now that we've transitioned to a different application system in #189. Closing for now, but if the issue persists, please reopen.

[2015-12-30 00:01] #203 closed

[2015-12-30 00:07] fureigh opened #217 "Lever deleting field contents when part of application fails validation"
**Current behavior:**
When validation fails, most if not all fields from "Application Questions" onward are cleared.

**Desired behavior:**
When validation fails, all fields' contents are preserved. This is so they can be simply edited or left alone instead of having to be reentered.

**Steps to reproduce:**
1. Go to an application in Lever (say, the [Software Developer](https://jobs.lever.co/18f/

[2015-12-30 00:08] fureigh commented on #217
@rooneywp, does Lever offer configuration options that would prevent this?

[2015-12-30 15:17] pixelwake commented on #217
@fureigh There isn't a configuration option that we have access to. I submitted the bug to our Lever account manager. Will post response here.

[2015-12-30 15:21] pixelwake commented on #143
@fureigh Here is the current auto response email:

Hi (Name),

Thank you for your interest in 18F! We wanted to let you know we received your application for (position), and we are delighted that you would consider joining our team.

The review process takes about 3-5 weeks to complete at which point we will be in touch if your qualifications match our needs for the role. If you are not selected f

[2015-12-30 20:00] fureigh commented on #217
@rooneywp Okay, thanks!

[2015-12-30 20:00] fureigh commented on #143
:+1: Thanks for the info.

[2015-12-31 16:37] pixelwake commented on #127
#213 closes this issue.

[2015-12-31 16:37] #127 closed

[2016-01-04 22:46] fureigh commented on #196
The link on https://pages.18f.gov/joining-18f/benefits/ is currently accurate. Closing.

[2016-01-04 22:46] #196 closed

[2016-01-04 22:48] fureigh commented on #165
Thanks again for your work on this, @xtine.

I'm closing this issue due to the switch to Lever. @rooneywp, if you hear of this issue recurring, please reopen.

[2016-01-04 22:48] #165 closed

[2016-01-04 22:53] fureigh commented on #162
Is there reason to believe this is still an issue?

[2016-01-04 23:06] fureigh commented on #170
@afeld Thanks again for these. With the switch to Lever in #189, the following are the case:
- Each position has its own application. (Here's a current [example](https://jobs.lever.co/18f/73bfd32b-ee89-4597-848f-745e58d11efd/apply).)
- Headings are all now in either all-caps or sentence case.
- The "verify X" checkboxes are now required.

These suggestions are still relevant:
- Give some guidance

[2016-01-04 23:33] fureigh commented on #159
Bumping and sending over to @rooneywp. Are the guide and example résumés listed on the [How to apply](https://pages.18f.gov/joining-18f/how-to-apply/) page still relevant?

[2016-01-04 23:36] fureigh commented on #161
I'd love to hear more about this. Can you give an example? Is the sprint cycle predictable or does it change (whether because of holidays or agency needs or otherwise)? Happy to hop on a call if it's simpler to explain in realtime.

[2016-01-04 23:51] fureigh commented on #118
@rooneywp Safe to assume Lever handles this?

[2016-01-04 23:58] fureigh commented on #132
This information is now in paragraph three of [Government pay grades explained](https://pages.18f.gov/joining-18f/pay-grades/). There's no guarantee that the applicant will have noticed and reviewed that page, though.

@rooneywp, can you add help text to the Lever applications' question "Please select the position (grade level) that you are applying to" and include a link to the [Government pay gr

[2016-01-05 00:02] fureigh opened #219 "Add about.yml file"

[2016-01-05 00:06] fureigh commented on #118
Confirming; tested on Lever and it works. Closing.

[2016-01-05 00:06] #118 closed

[2016-01-05 00:07] fureigh commented on #143
@rooneywp Is it possible to also show it on the application confirmation screen post-submission?

[2016-01-05 00:09] fureigh commented on #155
@afeld Sorry about the delayed reply! There were, and then there weren't, and now yes, they've been reinstated.

[2016-01-05 00:13] fureigh commented on #155
@afeld To clarify: there's currently a discrepancy between the active positions, whose permalinks follow the pattern `roles-and-teams/positions/POSITION-NAME/`, and the inactive positions ([example](https://github.com/18F/joining-18f/blob/18f-pages/_positions/agile-coach.md)), whose permalinks follow the pattern `who-we-are-hiring/positions/POSITION-NAME/`.

[2016-01-05 00:17] fureigh commented on #95
Updated repo description for https://github.com/18F/joining-18f-app.

[2016-01-05 00:53] JenTress opened #220 "App down"
Looks like the app is down on this page: https://pages.18f.gov/joining-18f/how-to-apply/
Routes to the roles page.

[2016-01-05 00:59] fureigh commented on #220
Hmm, even with a shift-reload I'm unable to reproduce this bug. Here's what I see in Chrome:

![screen shot 2016-01-04 at 5 00 19 pm](https://cloud.githubusercontent.com/assets/1244599/12104878/77981f8c-b304-11e5-81e8-abe8287bcf56.png)

Can you try again and send a screenshot if the error persists?

[2016-01-05 01:23] JenTress commented on #220
Worked!

[2016-01-05 01:23] #220 closed

[2016-01-05 01:31] fureigh commented on #220
👌

[2016-01-07 17:23] hestherchang opened #221 "Short URL for 18F Application"
Create a short, easy to remember URL for this page: https://pages.18f.gov/joining-18f/index.html

Idea for short link: join.18F.gov or 18F.gov/join

Some things to think about:
1. Is https://pages.18f.gov/joining-18f/index.html the page we want to directly refer candidates to?

2. Is "join" the word we want to use in the short URL? Is there something more appropriate like "apply"?

3. Can this sho

[2016-01-07 17:36] JennMoran commented on #221
@hestherchang I like this idea - I have a hard time remembering this webpage myself and think shortening it to something like join18.gov will be much easier

[2016-01-07 17:39] jamiealbrecht commented on #221
:+1:

[2016-01-08 17:47] JennMoran opened #222 "Consulting - Design & Product Strategist role"
Please remove this role from our website today, as I do not want anyone to apply to it for Sprint 5, which starts on Monday.  If we still need more candidates we will put the role back.

Thank you!!!

[2016-01-08 19:07] #222 closed

[2016-01-08 20:47] pixelwake commented on #143
@fureigh No, Lever doesn't provide that kind of configuration option.

[2016-01-08 20:56] pixelwake commented on #132
@fureigh Unfortunately, formatting options are really limited in the job postings. You can't add help text to questions within the application so it would have to exist in the title of the question itself. Also, it doesn't allow hyperlinking so it would need the full address. Example below:
![image](https://cloud.githubusercontent.com/assets/13383307/12209287/c92545d2-b606-11e5-9936-410a9849b2a9.p

[2016-01-08 21:40] fureigh commented on #143
@rooneywp Ah, too bad. Thanks for checking.

[2016-01-11 22:52] hestherchang commented on #221
@afeld, Is there something I need to do to get this short link created? It'd be nice to have it done by Thurs 1/14 - going recruiting on Friday 1/15 and would like to use a short link

[2016-01-11 22:59] fureigh commented on #221
Good news: join.18f.gov already exists! We're good to go. :)

[2016-01-11 22:59] #221 closed

[2016-01-12 22:06] hestherchang opened #225 "Esther is getting practice with GitHub :)"

[2016-01-12 22:30] fureigh commented on #225
Yay, first pull request! Closing this issue, but feel free to reopen. :)

[2016-01-12 22:30] #225 closed

[2016-01-12 23:46] fureigh commented on #192
Per conversation with @rooneywp, this is now being set in Lever.

**Revised technical notes:**
- [ ] Reimplement using the [Lever Postings API](https://github.com/lever/postings-api/).
- [ ] Remove elements of the old setup, as it's no longer in use.

[2016-01-13 21:18] hestherchang opened #227 "Product team is only hiring for PMs in areas we have offices"
State that new Product Leads are only accepted in areas we have offices - Chicago, NYC, DC, SF

[2016-01-13 21:28] fureigh commented on #227
@hestherchang, I'm assigning this to you to reflect that you're working on it. :+1:

[2016-01-14 18:21] pixelwake commented on #217
Update: Contacted last week by Lever helpdesk, they are still looking into the issue.

[2016-01-14 18:28] pixelwake commented on #162
I think that we can close this issue. With the move to Lever and a more conventional application, applicants do not have worry about formatting, etc. They can upload resumes, which avoids the need to reproduce or copy/paste.

[2016-01-14 18:28] #162 closed

[2016-01-14 19:28] hestherchang opened #230 "Post Technical Account Manager - Cloud.gov position on Lever"

[2016-01-14 22:37] fureigh commented on #217
Thanks for the update.

[2016-01-15 18:07] hestherchang commented on #230
Waiting for few more pieces of information from Noah Kunin before I can post this.

[2016-01-15 22:10] #192 closed

[2016-01-16 00:59] fureigh commented on #227
@hestherchang, I made a few other copy changes in #228 — if they look good to you, please update the Lever text accordingly.

[2016-01-16 01:03] fureigh opened #232 "Cleanup: Remove vestiges of pre-Lever system"
Now that the Roles and Teams page is [pulling active position listings from Lever](https://github.com/18F/joining-18f/pull/229), let's remove position listings and related front-end matter from the codebase.

[2016-01-16 01:08] fureigh opened #233 "Rework to use U.S. Web Design Standards assets"

[2016-01-23 00:47] fureigh commented on #232
Ready for review in #234.

[2016-01-26 20:33] fureigh commented on #155
Closing this as irrelevant now that the position descriptions are hosted on Lever.

[2016-01-26 20:33] #155 closed

[2016-01-26 20:42] fureigh opened #235 "Reinstate links to more information for GS level and Veterans Preference questions"
Before the switch to Lever, the application included links to more information for applicants trying to decide how to answer the GS level and Veterans Preference questions. I no longer see them, at least not when accessing the application from my phone's browser (ex: https://jobs.lever.co/18f/40d0f4ee-be99-47be-be03-29b2095e51f6/apply).

Please reinstate them! :) If you'd like me to pull up the pa

[2016-01-27 00:39] fureigh commented on #230
@hestherchang Closing this issue because I see [what appears to be a listing](https://jobs.lever.co/18f/4eb35e9c-03e2-405f-8ba3-58e31be06092). If there's more to do here, please reopen.

[2016-01-27 00:39] #230 closed

[2016-01-27 00:40] fureigh commented on #227
Closing because this appears to have been incorporated into [the Lever listing](https://jobs.lever.co/18f/6cafb4ed-45c1-4a0f-b004-7da14dd04eb1). If there's more to do here, @hestherchang, please reopen the issue.

[2016-01-27 00:40] #227 closed

[2016-01-27 08:07] #232 closed

[2016-01-28 18:11] pixelwake commented on #235
@fureigh  The links you are referencing are currently being house on the[ job description part of the application.](https://jobs.lever.co/18f/6cafb4ed-45c1-4a0f-b004-7da14dd04eb1)

![image](https://cloud.githubusercontent.com/assets/13383307/12653848/3735eb18-c5a6-11e5-878f-caa9601b3aa3.png)

Formatting options within the application questions themselves is very limited, there is not way to includ

[2016-01-28 22:27] melodykramer opened #237 "Add rss feed"
Hello!

It might be helpful to add an RSS feed to the join site so that people can see new jobs that are posted. I've found this helpful in the past - and it's easy for people to then set up an IFTTT rule or something similar to have new positions emailed to them.

Mel

[2016-01-28 22:30] fureigh commented on #237
Great idea!

[2016-01-28 22:33] fureigh commented on #57
@melodykramer proposed another approach in #237: an RSS feed! Conveniently, as long as it's a format that applicants find usable, an RSS feed won't require ongoing maintenance (content updates, etc.). Let's continue with specifics in that ticket.

[2016-01-28 22:37] fureigh commented on #237
@rooneywp, checking before building something: do you know whether this is functionality Lever provides? I'd imagine so, but I don't see anything in their documentation and https://jobs.lever.co/18f/ and https://api.lever.co/v0/postings/18f don't cut it.

[2016-01-29 00:55] fureigh commented on #235
Thanks for the screenshot and the helpful explanation, @rooneywp. I'm glad the list of resources exists as a fallback. I'd rather include the link information per your example ("Format Test Form"). It's inconvenient (and problematic from an accessibility standpoint) that it's not clickable, but that's better than omitting it from that form entirely. It's important to show the information at the po

[2016-01-29 07:22] quepol opened #238 "Change "Roles and teams" page title to "Open positions""
Since this page no longer describes the different teams, but is rather the listing of open positions, as a user I would like to more easily find that in the navigation.

[2016-01-29 07:24] quepol opened #239 "Add link to application page to "Who we are hiring""
Changing the name and nav description of the Roles and teams page (#238) may do the trick, but just in case... As a user I expected to find a link to the open positions on the "Who we are hiring page." Add the same link that is oh the main page to the bottom of this page.

[2016-01-29 19:29] fureigh commented on #238
Good call. Thanks!

Though now that you mention it, general information about roles and teams really would be useful (and used to exist)... I can look for it in the git history.

[2016-01-29 19:30] fureigh commented on #239
:+1:

[2016-01-29 23:31] fureigh commented on #238
@rooneywp Is there a technical/policy-based reason we need to use `role` instead of `position`? If not, let's default to `position`.

[2016-01-29 23:41] fureigh opened #241 "Abstract application link to an include file"
Context: #240

One possible direction: http://wolfslittlestore.be/2013/10/rendering-markdown-in-jekyll/

[2016-02-03 16:46] pixelwake commented on #237
@fureigh I didn't see anything either. They just launched their data api https://hire.lever.co/developer/documentation which might be something that we can use to support this.

[2016-02-03 18:28] fureigh commented on #237
Thanks, @rooneywp. Possible approaches include https://hire.lever.co/developer/documentation#postings or working with one of the URLs above, then.

[2016-02-03 19:41] #219 closed

[2016-02-05 20:13] fureigh commented on #239
Closed in #240.

[2016-02-05 20:13] #239 closed

[2016-02-10 07:45] fureigh opened #244 "Update pay grade information for 2016"
Resources as well as listed numbers.

https://pages.18f.gov/joining-18f/pay-grades/

[2016-02-11 19:23] #241 closed

[2016-02-11 20:29] fureigh commented on #244
In progress in #245 but not yet ready for review; one question pending.

[2016-02-16 19:41] fureigh commented on #244
Closed in 10d979cd0f748c3614f01c6b39ef5245af5b61a8.

[2016-02-16 19:41] #244 closed

[2016-02-29 22:01] fureigh opened #247 "Add functional tests"
**User story:**
As a site owner, I want to be confident that the site's links work correctly and that all necessary content is present.

**Technical notes:**
Let's get some Selenium tests in here.

[2016-02-29 22:02] fureigh commented on #247
No immediate capacity to work on this, but I'm noting it so it doesn't get lost.

[2016-03-02 01:28] quepol commented on #238
Awesome change in the link on the top two pages in the nav. What do folks also think about changing the actual nav item from `Roles and teams` to `Open positions`?

The link is at the bottom of the first two pages, which is great, but I'd also love for it to be more intuitive to find what positions we're hiring for **in the navigation itself**. (Sorry if that wasn't clear from my first comment. Pr

[2016-03-02 01:41] quepol commented on #237
Since we're hiring in sprints now, I think this functionality is very important. I talk to people all the time and basically tell them, we've got discrete positions on the website, but we're constantly evaluating our needs and our bench, so check back often.

Mostly just +++'ing this issue. :)

[2016-03-03 21:52] fureigh commented on #233
Marking this `help wanted` to clarify that others are welcome to take a crack at this.

[2016-03-03 22:41] fureigh commented on #238
@quepol Thanks for revisiting this. That's a great suggestion; I'll implement it.

I may have muddied the waters a bit by saying I'd like to _also_ include a rundown of what roles and teams exist at 18F. I'll make a separate ticket for that for clarity's sake.

[2016-03-04 00:47] fureigh commented on #68
- Privacy Act

[2016-03-04 00:48] fureigh commented on #5
Marking this as `wontfix` and closing. Please feel free to reopen.

[2016-03-04 00:48] #5 closed

[2016-03-04 00:49] fureigh commented on #217
@rooneywp Any news on this one?

[2016-03-04 01:14] fureigh opened #248 "Restore information about roles and teams"
...as distinct from open positions. See #238 for earlier conversation.

[2016-03-04 01:17] fureigh commented on #248
**User story:**
As a prospective applicant, I want to know what kind of organization I'm considering going into and who I'd be working with.

**Technical notes:**
For possible content, refer to the git log of `/pages/roles-and-teams.md`, present in d027de102d421bea07bde6814f8a4ffb419ce14d and earlier.

[2016-03-04 01:18] fureigh commented on #238
Ready for review in #249.

[2016-03-04 21:17] dijonkitchen opened #250 "Certain Links Not Working"
The following links are not working. The markdown files are in the pages directory so maybe it's a Jekyll issue.

https://pages.18f.gov/joining-18f/how-to-apply/

https://pages.18f.gov/joining-18f/benefits/

https://pages.18f.gov/joining-18f/benefits/

https://pages.18f.gov/joining-18f/leave-policies/

https://pages.18f.gov/joining-18f/conferences-training-travel/

[2016-03-04 23:52] fureigh commented on #250
@dijonkitchen Thanks for this! I'm currently able to load all of those pages — can you confirm whether this is still an issue?

[2016-03-05 03:30] dijonkitchen commented on #250
Working now! Thanks!

[2016-03-05 03:30] #250 closed

[2016-03-07 21:15] fureigh commented on #250
Thanks for confirming!

[2016-03-08 15:35] #238 closed

[2016-03-08 16:10] pixelwake commented on #235
@fureigh Here are the proposed updates to the posting and application. These changes were made to the template, once reviewed I'll update the existing postings.

[Job Posting](https://jobs.lever.co/18f/ae5ec9a1-73e5-4bb1-bd4c-ea90b5ea905e)

![capture1](https://cloud.githubusercontent.com/assets/13383307/13607428/f2ba19ae-e504-11e5-8246-2674cdb83652.PNG)

[Application Questions](https://jobs.lever.

[2016-03-08 16:18] pixelwake commented on #217
@fureigh No updates. I followed up with the support team just now, will update if I get a response.

[2016-03-08 16:51] melodykramer opened #251 "Redirect link that goes to open positions."
@rooneywp @fureigh

Please put a redirect on this former page: https://pages.18f.gov/joining-18f/roles-and-teams/ to this page: https://pages.18f.gov/joining-18f/open-positions/

The former link is on a lot of sites and those links no longer work (and it is easier to redirect the old page than to change all of the older links)

[2016-03-08 17:04] pixelwake commented on #251
Changes reverted in #252, original PR is #249

[2016-03-08 18:31] fureigh commented on #251
@melodykramer Thanks for catching this. #249 should've accounted for that — I'll look into why the redirect didn't work.

[2016-03-08 18:31] fureigh commented on #251
(And @rooneywp, thanks for getting a hotfix out.)

[2016-03-08 20:01] fureigh commented on #251
@rooneywp Ready for review in https://github.com/18F/joining-18f/pull/253.

[2016-03-08 20:39] fureigh commented on #251
Fixed. (https://pages.18f.gov/joining-18f/roles-and-teams/ now successfully redirects to https://pages.18f.gov/joining-18f/open-positions/.)

[2016-03-08 20:39] #251 closed

[2016-03-08 22:35] fureigh commented on #235
Thanks, @rooneywp! A few suggestions:

**Job Posting:**
How about this?

**Application Questions:**
Let's change the question mark to a period at the end of "Please select the position (grade level) that you are applying to." (Could also change to "to which you're applying," if we want to be sticklers about grammar.)

All else looks good to me.

[2016-03-09 15:18] rooneywp opened #254 "Pay Grades: Increase visibility for compensation calculations"
**Issue:** Compensation ranges and locality pay may not be clearly illustrated to potential applicants.

Per @vzvenyach "hey all… after seeing this tweet https://twitter.com/dberkholz/status/707416531290947584 i checked out how we describe our pay on https://pages.18f.gov/joining-18f/pay-grades/ and i wonder whether it’s misleading for folks who live in large cities. near the top of the page, we l

[2016-03-09 15:21] pixelwake commented on #254
I don't believe that this is a high urgency issue but it's worth investigating. We can always make improvements to our site.

[2016-03-09 22:16] fureigh commented on #254
Oh, good call. It'd be simple enough to add corresponding ranges (not just bases) for GS-13, GS-14 and GS-15... reasonable? The writing lab folks may have other ideas for how to improve this.

[2016-03-09 22:19] fureigh opened #255 "Update 'Open positions' to pull only 18F projects"
As https://github.com/18F/joining-epa spins up and we add any EPA (i.e., other agencies') listings to Lever, we'll need to make sure they don't show up on this site (`join.18f.gov`).

**Technical note:**
Update `leverpostings.js`.

Corresponds to https://github.com/18F/joining-epa/issues/13.

[2016-03-09 23:50] fureigh commented on #254
@rooneywp, is this something you'd be willing to take a crack at?

[2016-03-21 20:32] melodykramer opened #257 "Add 'Why did you join 18F' to main page of Joining 18F repo"
I think [this blog post](https://18f.gsa.gov/2016/03/21/we-asked-100-of-our-coworkers-why-did-you-join-18f/) which asks everyone why they joined 18F would be really helpful to feature on our recruiting page.

[2016-03-22 20:12] melodykramer commented on #257
Same with the [path post](https://staging.18f.gov/2016/03/22/what-was-your-path-to-18f/)

[2016-03-23 18:26] fureigh commented on #257
Super useful posts! Perhaps they could go on https://pages.18f.gov/joining-18f/who-we-are-hiring/? I'll draft something in a pull request and send it your way.

[2016-03-23 18:36] fureigh opened #258 "Lever applicants may never see or know about join.18f.gov"
Now that we’re using Lever, a lot of people are sharing the position listings directly rather than sending people to join.18f.gov. That's cool, but I realized during a conversation with @melodykramer that the Lever posts (ex: https://jobs.lever.co/18f/65b74f21-2b8d-4e38-ba23-b90551d4a82b) don’t include any links to join.18f.gov. Which means many applicants are likely missing all of the context we’

[2016-03-23 18:41] pixelwake commented on #258
@fureigh @melodykramer I can add this pretty easily. Are we good with the copy "Please review the materials at join.18f.gov for important context"?

Maybe add something like "that will help ensure you successfully apply". Something to create some urgency on the user to follow the link?

[2016-03-23 18:43] rdpiazza commented on #258
When people have the direct link to Lever, they can also apply to positions that are not currently open.  Is there a way to also direct people to join.18f.gov check make sure the position is currently taking applications?  Or does it just make sense to reject them? We've had people apply when the position isn't open.

[2016-03-23 18:43] fureigh commented on #258
@rooneywp @melodykramer How about "For important context, please see join.18f.gov." Frontloading the urgency without adding more words.

Or a friendlier take: "For important context, you'll want to read join.18f.gov."

[2016-03-23 18:44] melodykramer commented on #258
How about "Before applying, go to https://join.18f.gov to read important information about preparing your application."

[2016-03-23 18:45] fureigh commented on #258
@rdpiazza Is there no way to mark positions 'closed' in Lever? I hope we can resolve that issue on the Lever end if at all possible rather than shifting the burden to the applicant.

[2016-03-23 18:46] fureigh commented on #258
@melodykramer That phrasing sounds good to me. (Can cut the https from the link text for the sake of conciseness.)

[2016-03-23 18:46] melodykramer commented on #258
Sounds good!

[2016-03-23 18:47] pixelwake commented on #258
@rdpiazza Nothing we can to systematically because we need to keep the job "open" so that we can still transact against it. We don't publish the jobs that aren't truly open but if they have the direct link already they will be able to apply.

The text editing is pretty limited on the job posting and even more so on the application. But we we could find a place to house that text.

[2016-03-23 18:51] rdpiazza commented on #258
It's not a huge deal!  This is a pretty infrequent issue.

[2016-03-23 18:52] pixelwake commented on #258
@fureigh @melodykramer

This is what we currently have on the job posting:
![image](https://cloud.githubusercontent.com/assets/13383307/13996982/347b96c6-f0ed-11e5-8283-9ac3d8af3935.png)

Do we want to replace it with this:
![image](https://cloud.githubusercontent.com/assets/13383307/13997084/9f0801be-f0ed-11e5-853c-7c91dde322c5.png)

[2016-03-23 18:53] melodykramer commented on #258
How's this:

Before applying, go to join.18f.gov to read important information related to government pay grades, the application process, and how our interviews work.

[2016-03-23 18:54] melodykramer commented on #258
That gets at everything in both, and really spells out that they should visit that site.

[2016-03-23 18:59] fureigh commented on #258
Hmm — the thinking behind having those specific links called out is that the next page (i.e., the application itself) requires the applicant to answer questions with reference to those links. (Which GS level they're selecting, for instance.)

I'm fine with replacing it with the second version (adding a period at the end of the sentence, please) if we also add something like "We recommend keeping j

[2016-03-23 18:59] pixelwake commented on #258
Now for the application itself, our options are very limited but if we wanted to include this direction, we could house it in a question and place it before the other questions.

![image](https://cloud.githubusercontent.com/assets/13383307/13997313/ae10101a-f0ee-11e5-98eb-5bac889465cf.png)

[2016-03-23 19:02] fureigh commented on #258
@rdpiazza To that issue (which we probably should've broken out into its own GitHub issue, but oh well): how about whomever administers the postings simply adds a note to any closed postings so they're self-documenting? Something like "We're not currently accepting applications for this position. For a list of open positions, please see join.18f.gov."?

[2016-03-23 19:03] melodykramer commented on #258
I really like that idea @rooneywp and @fureigh (the splitting out the specifics as well as that question box!)

[2016-03-23 23:30] fureigh commented on #257
Ready for review in #259.

[2016-03-24 12:56] #257 closed

[2016-03-25 22:05] hollyallen commented on #254
Have we considered greatly simplifying the "Compensation in the GS pay system" section? Speak to the overall cap of $160,300, then link to OPM. One paragraph.

[2016-03-25 22:13] hollyallen commented on #254
I created the above PR as an example of simplified language. @fureigh suggested user testing this page with potential applicants which I think is :+1:

[2016-03-28 21:09] afeld opened #261 "Expose high-level timeline of application/hiring process"
I just had a candidate ask about the timeline for the the application, interview, and hiring process, and realized that we don't really lay that out anywhere. Maybe it could go at the top of the [interview process](https://pages.18f.gov/joining-18f/interview-process/) page, which links down to the other sections? Example:

/cc @hestherchang

[2016-03-28 21:54] hestherchang commented on #261
I really like this. Great suggestion, Aidan.

How about...

Day 0: Submit application
Week 5: Hear back about whether you will be interviewed or not
Week 7: Preliminary screen will be scheduled
Week 9: Panel interview will be scheduled
Week 11: Tentative offer will be made
Week 13: Official offer will be made

Note that this timeline is aspirational and candidates may experience a variation of thi

[2016-03-28 22:35] fureigh commented on #261
Great suggestion. Let's be sure to define "tentative offer;" we can pull from existing language on the [how to apply](https://github.com/18F/joining-18f/blob/f182077d60122ce356e3c33e72a75c7132877bd8/pages/how-to-apply.md) page.

[2016-03-29 14:35] JennMoran commented on #261
I think this is a great idea - but first would like to see how Sprint 6
plays out to make sure this timeline is accurate.

On Mon, Mar 28, 2016 at 6:35 PM, Fureigh notifications@github.com wrote:

##

Jennifer Moran
Recruitment Coordinator / Executive Administrator - Talent Team
https://18F.gsa.gov | @18F

[2016-03-29 16:07] hollyallen commented on #159
I'm also interested in this. The example resumes can be intimidating, as noted by @coreycaitlin . Can we find better examples, or create a new example from whole cloth?

[2016-03-29 23:40] pixelwake commented on #261
I agree with @JennMoran. I'm hesitant to post timelines like this given how the previous sprints have been running. Even if we caveat the timeline, my feeling is that it would cause more anxiety if the candidate had milestones like that and they were missed, as opposed to a total for the process.

[2016-03-29 23:52] pixelwake commented on #254
PR looks fine and user testing would be great.

[2016-03-30 01:28] afeld commented on #261
What if we started out with the timelines being even looser? e.g. "several weeks", "2-4 months", etc.

[2016-03-30 01:36] fureigh commented on #254
Closed that PR — thanks, @hollyallen! Will wrangle potential applicants with whom to test. :)

[2016-04-01 19:50] pixelwake commented on #258
I have updated and tested the new links and copy. You can see the copy live here: https://jobs.lever.co/18f/65b74f21-2b8d-4e38-ba23-b90551d4a82b

[2016-04-01 20:04] pixelwake commented on #258
I also went ahead and added the question to the application. It's not required, it's only intended as a reminder to the applicant to reference the site.

You can see the live version here: https://jobs.lever.co/18f/65b74f21-2b8d-4e38-ba23-b90551d4a82b/apply

@fureigh @melodykramer ^

[2016-04-01 20:07] pixelwake commented on #235
This issue can be closed. #258 now captures the changes.

[2016-04-01 20:07] #235 closed

[2016-04-05 21:04] brainwane opened #262 "Make "you don't have to be in DC" more prominent"
I have spoken to multiple friends who had heard of 18F but hadn't realized that 18F has non-DC offices and is remote-friendly. I see on https://pages.18f.gov/joining-18f/who-we-are-hiring/ that you have offices in SF and Chicago as well, and that you're remote-friendly. It would be cool if that message were more prominent, and if https://pages.18f.gov/joining-18f/open-positions/ also said somethin

[2016-04-05 23:40] fureigh commented on #262
Thanks for the suggestions, @brainwane! The majority of our team isn't D.C.-based and [we have a remote-first mindset](https://18f.gsa.gov/2015/10/15/best-practices-for-distributed-teams/), so it's important to communicate that more clearly.

New York is listed along with a number of other cities in the ["where we are hiring" section](https://pages.18f.gov/joining-18f/who-we-are-hiring/), but ment

[2016-04-06 14:08] pixelwake commented on #262
@fureigh It's the exception when a position requires that the candidate must be near a local office, but it has happened and there isn't a reason that it would apply to New York as well.

Regarding the second point, this is something that we should capture and build into our recruiting outreach plan (In Development). As of right now we don't really have set materials/comms in place for recruiting,

[2016-04-06 22:06] fureigh commented on #262
Thanks, @rooneywp. Is there value in the job applications continuing to mention New York as a "preferred work location" option?

[2016-04-07 17:28] pixelwake commented on #258
@fureigh @melodykramer When I wrote the update above, I didn't include your names and added them as an update. Not sure if it notifies you when done that way, so thought I'd just write a new one :) No rush on this, just wanted to make sure you were aware.

[2016-04-07 19:20] fureigh commented on #262
Whoops, I think GitHub automatically closed this issue because I left "closes #262" in the associated pull request.

Reopening so @rooneywp can answer the above question. Thanks!

[2016-04-07 21:00] fureigh opened #265 "Should applications mention New York as a "preferred work location" option?"
Currently they do. New York has a critical mass of 18Fers but no office space, which may be the case in a few other locations too.

Continuation of a conversation in #262.

[2016-04-07 21:01] fureigh commented on #262
Broke the remaining question off into #265 for clarity's sake. Let's continue the conversation there.

[2016-04-07 21:01] #262 closed

[2016-04-07 23:35] fureigh commented on #258
Looks great, @rooneywp! Thanks also for changing that reminder checkbox to be friendlier. :)

@melodykramer, wanna close this one?

[2016-04-08 12:49] #258 closed

[2016-04-08 13:57] pixelwake commented on #265
@fureigh Oh, interesting thought. It might be giving applicants the impression that we actually have an office/work space there. My gut says that it would be rare instances when someone thought there was an office and applied but found they would be remote in that city and then it made the situation unacceptable. But doesn't mean we still couldn't find a way to make it clearer.

[2016-04-14 23:08] hollyallen commented on #254
I had a chance to do ad hoc user research with a applicant who was in the office for potluck. She did not see the guidance for gov't resumes at all, and said that the differences between the GS levels were really unclear. She also said that it was unclear what the difference between the "Why 18F?" and "cover letter" sections of the application were.

She suggested a checklist for applicants, with

[2016-04-15 13:24] rdpiazza commented on #254
So I'm not sure the best way to explain this to people applying, but one thing that I don't think is clear is that your grade level determines some of your career advancement opportunities once you're here, since it's more challenging (and sometimes not possible) for GS-13s or GS-14s to be facilitators or to compete for Director positions. If someone is picking based entirely on salary or being co

[2016-04-20 19:12] jamiealbrecht commented on #170
Wanted to follow up on this issue because I am still not sure that folks are understanding "how to write a federal resume". I wonder if we might be able to write up some tips and tricks coming from 18F on how to do this?

[2016-04-20 19:14] jamiealbrecht opened #266 "User Research for the Join Page"
I don't think we've done too much or any? documented user research with real end users applying for jobs. Is there a way we can do that?

[2016-04-20 19:16] jamiealbrecht opened #267 "Folks are submitting apply when they are not eligible"
We get a number of applications from folks that indicate that they are not eligible for the job. Perhaps there is a way to put that question to the top? Or remind people of it earlier on? Or make the language more human? It's confusing & wordy as it stands.

[2016-04-20 21:44] fureigh commented on #267
@jamiealbrecht Can you give an example or two of what's coming through (i.e., the indications that they're not eligible)?

[2016-04-20 21:49] fureigh commented on #170
@jamiealbrecht Thanks for following up on this! Tips and tricks, and/or examples, would be great. Are you game to draft something? The good folks of the Writing Lab can likely help, but I think you're particularly well-suited, as someone who's worked in government before and sees a lot of resumes.

[2016-04-20 22:57] jamiealbrecht commented on #267
Great question! We're not really capturing what is making them ineligible. My guess it's the citizenship / green card thing in most cases, but we're not going beyond the sending them a note that says that because that they indicated that they are not eligible we are taking that at face value. We do say if it's an error to let us know, but I've never received a response indicating it was indeed an

[2016-04-20 23:16] fureigh commented on #267
Oh, I see — so they're marking `I do not meet the above eligibility requirements` in response to this question?

If that's the case, let's move that question to the top of every application, above résumé.

Let's also consider changing the 'no' answer to something that more clearly communicates how to proceed. Safe to assume people who on these grounds are ineligible for 18F are also ineligible for

[2016-04-20 23:18] fureigh opened #268 "Change question mark to period in grade level question"
**Current:**
Please select the position (grade level) that you are applying to?

**Desired:**
Please select the position (grade level) that you are applying to.

**Steps to replicate:**
1. Go to https://jobs.lever.co/18f/85ac9796-537e-46ea-aa62-a75ec363bdcc/apply, for instance.
2. Scroll down.
3. Read the prompt text of the relevant field.

**Technical notes:**
The Lever admin interface is where t

[2016-04-21 13:58] pixelwake commented on #268
@fureigh Updated the application question as requested. Changes are live on all forms. Issue is ready to be closed.

Sample:
![image](https://cloud.githubusercontent.com/assets/13383307/14711505/63ff05f6-078e-11e6-92be-8dfb95691f18.png)

[2016-04-21 18:40] jamiealbrecht commented on #267
Exactly. Agree we should move it to the top.

Hrm. I am not sure what USDS permits. It would be good to suggest an alternative.

[2016-04-22 13:52] pixelwake commented on #267
@fureigh @jamiealbrecht

This portion of the application is fixed and we have no control over:

![image](https://cloud.githubusercontent.com/assets/13383307/14743429/59cb9194-0856-11e6-8d5e-26224c013d39.png)

The furthest that the eligibility question can be moved is here:

![image](https://cloud.githubusercontent.com/assets/13383307/14743398/44175d74-0856-11e6-82c4-14a811f7c0a0.png)

[2016-04-26 18:43] awfrancisco opened #269 ""Gory" language on parental leave"
Emailed comment:

I would like to kindly suggest a modification to the 18f leave policies page, where it says "all the gory details" under Parental Leave - perhaps there is another adjective that can replace "gory"?

https://pages.18f.gov/joining-18f/leave-policies/

[2016-04-26 19:04] fureigh commented on #269
:) Thanks, @awfrancisco! How about we just cut 'gory' for now.

[2016-04-26 19:11] #269 closed

[2016-04-27 17:43] rooneywp opened #271 "Update Join page language for application intake closure"
Since we will be closing applications on 5/1, we need to make potential candidates aware of this upcoming change.

**Part 1 - Target 4/28**
The PR #272  contains the language that we would like to post on Join 18F. The initial proposal is to include this content on the Open Positions page but it could be included other places if it would be more effective.

**Part 2 - Target 5/9**
Once the applica

[2016-04-27 17:49] fureigh commented on #271
@rooneywp: Does a talent newsletter currently exist? If not, where's the work to create that happening?

[2016-04-27 17:51] jamiealbrecht commented on #271
it doesn't exist. @amandaschonfeld and i will be working on what that might look like. however, the vision for this for the moment is for us to be able to capture folks who are interested in joining and be able to update them when positions go back up. Amanda and I will be handling outreach to folks during the intake pause either by phone or email.

[2016-04-27 17:56] fureigh commented on #271
@jamiealbrecht Cool. Separately from the question of what the newsletter content will look like, someone will need to figure out how to capture folks' info (i.e., where it should be stored). What does 18F use for regular newsletter mailings currently?

[2016-04-27 17:56] fureigh commented on #271
(Relevant: #57)

[2016-04-27 17:58] fureigh commented on #271
ccing @awfrancisco, who may know the answer to that question.

[2016-04-27 17:58] jamiealbrecht commented on #271
was just about to hit up andre! i imagine we can do what we do for the 18f site.

[2016-04-27 18:07] awfrancisco commented on #271
We use MailChimp, and other teams have been setting up project-specific mailing lists using the 18F MailChimp account. Micro-purchase has one and I think the Digital Acquisitions Pilot does too. I believe #infrastructure should be able to get someone access, then embedding or linking to the form is pretty easy. Then it's easy to separate out your list from everyone else inside MailChimp.

[2016-04-27 19:55] fureigh commented on #271
Thanks, @awfrancisco! @jamiealbrecht / @rooneywp, who on the Talent side will run (and set up) that list?

[2016-04-29 18:21] fureigh commented on #271
Bump: @jamiealbrecht / @rooneywp, can one of you set up this list today so I can integrate it? Slack me if you have questions. I'm on East Coast time today.

[2016-04-29 18:22] fureigh commented on #271
cc @hestherchang

[2016-04-29 20:38] hestherchang commented on #271
@rooneywp  jamie isn't working on mailchimp. are you @rooneywp ? if not, i can take it on.

[2016-04-29 21:02] pixelwake commented on #271
@hestherchang Nope, all you.

On Fri, Apr 29, 2016 at 1:38 PM, Esther notifications@github.com wrote:

[2016-05-02 19:40] fureigh commented on #57
Closed en route to #273/#274.

[2016-05-02 19:40] #57 closed

[2016-05-02 19:40] fureigh commented on #271
Part two is ready for review in #274.

[2016-05-02 20:15] fureigh commented on #271
Closing!

![high-five-group-saved-by-the-bell](https://cloud.githubusercontent.com/assets/1244599/14966547/0ddfcc04-1081-11e6-8f6c-0f63bc9d22e5.gif)

[2016-05-02 20:15] #271 closed

[2016-05-18 05:26] hestherchang opened #280 "Bug in email sign up form"
Interested candidates cannot subscribe to our email list. Multiple have received this error:
Too many subscribe attempts for this email address. Please try again in about 5 minutes. (#8343)

[MailChimp FAQ](https://us9.admin.mailchimp.com/lists/members/add?id=676805) says...

Error message: Too many subscribe attempts for this email address. Please try again in about 5 minutes.
What it indicates:

[2016-05-18 16:19] fureigh commented on #280
@hestherchang Thanks for the bug report.

I can't see the code in that Mailchimp FAQ because it requires a login, which I don't have. Can you try to paste that code again? Enclosing it in tick marks — ` ` — should do the trick.

[2016-05-18 16:19] fureigh commented on #280
ccing @msecret

[2016-05-18 17:07] hestherchang commented on #280
`<div style="position: absolute; left: -5000px;"><input type="text" name="xxxxx" value=""></div>`

woohoo! thanks for the tip

[2016-05-18 17:53] fureigh commented on #280
@hestherchang Thanks for that code. Have candidates been able to sign up after waiting five minutes?

[2016-05-18 17:55] fureigh commented on #280
I ask because it's true that the form will be defenseless against spambots otherwise. I've seen mailing lists with that problem before and it's not pretty. :)

[2016-05-18 21:08] hestherchang commented on #280
According to one candidate, nope. "I want to subscribe to receive 18F open
role updates.  However I get an error saying there are too many attempts
from my email even after trying again in 30 minutes"

Ah :( If it's between being defenseless against spambots and having
candidates sign up without any errors... I choose the latter.

Although I am wondering if removing that line of code is the only w

[2016-05-18 21:37] fureigh commented on #280
Definitely agreed about those priorities. I'll take a quick look.

[2016-05-18 21:39] msecret commented on #280
Is the code here:
https://github.com/18F/joining-18f/edit/18f-pages/pages/open-positions.md
lines 11-44?

[2016-05-18 23:02] fureigh commented on #280
@msecret Just the hidden field (line 40).

The idea behind this approach to fighting spambots is that humans don't see the field, so they don't fill it out, but spambots still see a field, so they fill it out, and _then they've blown their cover and we know they're bots._ :)

Ready for testing at https://pages-staging.18f.gov/joining-18f/open-positions/ and review in #281. @msecret, are you game t

[2016-05-19 01:19] hestherchang commented on #280
(does this mean this is fixed?)

_H. Esther Chang_
18F Talent Team
U.S. General Services Administration
1800 F St NW, Washington, DC

On Wed, May 18, 2016 at 4:21 PM, Marco Segreto notifications@github.com
wrote:

[2016-05-19 07:50] fureigh commented on #280
@hestherchang: Yep! Closed = fixed. If the issue recurs, please reopen this issue.

[2016-05-19 07:50] fureigh commented on #280
(If the problem recurs, that is.)

[2016-05-19 14:48] hestherchang commented on #280
thanks so much to you both! 🙌

[2016-05-20 16:54] afeld opened #282 "Add some guidance on experience level"
From @gboone [in Slack](https://18f.slack.com/archives/dev/p1463761881001260):

Not sure if this should be included on a position-by-position basis (when they open up again), or if it makes sense to include something on [who are hiring](https://pages.18f.gov/joining-18f/who-we-are-hiring/).

[2016-05-23 22:16] fureigh commented on #282
I'd suggest on a position-by-position basis, as we hire for lots of non-dev roles too. @hestherchang, could some of this be drawn from the criteria guide you started? If not, who would know how best to proceed?

[2016-06-09 01:04] hollyallen opened #283 "Application confirmation email from lever includes no 18F contact information"
Currently when an applicant submits an application, they are not given any way to contact us for follow up. Say their application is taking weeks to progress to the next stage, they have nobody to reach out to. Consider including a contact email address for applicants as part of the application process.

See issue #143 for context of how the current application confirmation email wording was devis

[2016-06-09 21:13] fureigh commented on #283
Thanks for reporting this, @hollyallen! @rooneywp, would you be up for adding something like this to the end of the email confirmation?

[2016-06-09 21:17] fureigh opened #284 "[meta] Improve routing of new issues"
Goal: Reduce response time, streamline issue assignment.

Possible approaches include:
- Modify issue template to include an automatic assignee and/or further guidance
- Update README and CONTRIBUTING

[2016-06-09 23:50] brittag commented on #68
I'd suggest also including in this resource for prospective applicants:
- [Standards of Ethical Conduct for Employees of the Executive Branch](https://www.oge.gov/Web/oge.nsf/Resources/Standards+of+Ethical+Conduct+for+Employees+of+the+Executive+Branch)
- [GSA Social Media Policy](http://www.gsa.gov/portal/content/180607)

[2016-07-03 02:41] neilmartis opened #285 "Add confirmation of successful email list subscription"
When submitting First Name,Last and clicking on Subscribe no notification or email is received about subscribing to the email list.I tried to subscribe but haven't received any notification of subscription.

[2016-07-06 16:36] fureigh commented on #285
Thanks for reporting this, @neilmartis!

@rooneywp, can you check whether there's a setting to enable this? (ccing @hestherchang)

[2016-07-06 21:54] pixelwake commented on #285
@hestherchang is admin of the list, she'll be able to verify.

[2016-07-07 18:31] hestherchang commented on #285
Hi, @neilmartis . The only thing that comes to mind is that the confirmation email could be in your spam. The function for subscribers to received a confirmation welcome email is still enabled and hasn't been changed. If you can provide us with your email, I'd be happy to add you to the list so you can get updates. Feel free to send it to join18F@gsa.gov to my attention if you'd rather not share y

[2016-07-07 20:07] JennMoran opened #286 "Email subscription may not show on-screen confirmation for everyone"
Someone emailed Join18F that there is a possible bug when people try to subscribe for updates [here](https://pages.18f.gov/joining-18f/open-positions/).

Email from person:

This may not be the right place to report a bug, but the form to subscribe to updates[1] doesn't give any feedback when you hit the "Subscribe" button.  There is content in the response[2] and I did get the email to confirm, b

[2016-07-08 20:55] fureigh commented on #286
Thanks for reporting, @JennMoran! Closing this one as a duplicate of #285.

[2016-07-08 21:03] fureigh commented on #286
Upon further examination, the subscriber is successfully receiving email confirmation (hooray!). When I test subscription using Chrome 51.0.2704.103 (64-bit) on a Mac, I do see on-screen feedback:

![screen shot 2016-07-08 at 2 02 22 pm](https://cloud.githubusercontent.com/assets/1244599/16701421/833606f4-4514-11e6-9632-745bf7c36aaf.png)

@JennMoran, mind if I email the original reporter to ask wh

[2016-07-10 23:53] ghost commented on #285
@hestherchang I will email you on my email address.Thank you

[2016-07-10 23:54] ghost commented on #285
@hestherchang I have checked my email box as I do receive emails about the micropurchase but not this one

[2016-07-11 11:45] JennMoran commented on #286
@fureigh yes - I will fwd you their email.  thank you!

[2016-07-11 21:41] afeld opened #288 "Update date of when the positions will open up again"
Still says "end of June". Would be fine to replace it with "until further notice" or something, even if that's temporary.

https://pages.18f.gov/joining-18f/open-positions/

/cc @fureigh

[2016-07-11 22:18] fureigh commented on #288
Thanks, @afeld! I'll make a minimum viable update for accuracy and see what I can find out.

[2016-07-12 21:18] #288 closed

[2016-07-12 23:16] fureigh commented on #286
Update: the person who reported this bug was using the Chrome extension [Disconnect](https://disconnect.me/), which blocked some of the Mailchimp requests.

[2016-07-12 23:16] #286 closed

[2016-07-19 14:04] pburkholder opened #294 "Unpaid leave - Only FMLA?"
In `pages/leave-policies.md` it seems the only options for unpaid leave are:
- after 12 months of employment AND
- within the first 12 months of child's birth/adoption.

Are there other options for unpaid leave? Or are sick leave and annual leave the only options there are?

Thanks, Peter

[2016-07-19 18:52] fureigh commented on #294
Thanks, Peter! I believe the Family and Medical Leave Act is a bit more extensive than that:

I don't see the part about unpaid leave only being possible after 12 months of employment... Can you provide a line number or a quote, @pburkholder?

(And @cbrydges, can you weigh in on the above? Thanks!

[2016-07-20 13:01] cbrydges commented on #294
Employees can request/take unpaid leave (a week or 2 but not 12 weeks worth) at any time - they do not have to have been employed for 12 months.

Thanks - Cristina

[2016-07-20 15:28] awfrancisco opened #297 "Broken link on join.18f.gov"
The "Review open positions and apply to join 18F" link at the bottom of the first page is broken.

https://pages.18f.gov/joining-18f/

[2016-07-20 21:31] fureigh commented on #297
@awfrancisco Good catch! On it — thanks.

[2016-07-20 21:44] fureigh commented on #297
Ready for review in #298.

[2016-07-20 22:16] #297 closed

[2016-07-22 00:09] fureigh commented on #285
@neilmartis Has this been resolved? Other people have reported receiving sign-up confirmation emails, though sometimes they go to spam.

[2016-07-26 17:39] ghost commented on #285
@fureigh Sorry for the late reply Yes I have received the email but I heard that 18F is not going to send any emailers .
"We will no longer be using this mailing list to send updates regarding hiring. If you are interested, you can sign-up to receive the 18F Newsletter which is sent out every two weeks and has information about 18F in general but will also includes updates specific to our hiring n

[2016-07-26 19:02] fureigh commented on #285
@neilmartis Okay — I'll close this issue, as the initial issue you reported has been resolved.

The change you referenced was made just a few days ago in https://github.com/18F/joining-18f/pull/296. If you'd like to offer feedback about the current user experience, I invite you to do so there. Thanks in advance!

[2016-07-26 19:02] #285 closed

[2016-08-10 20:54] gboone commented on #6
Just heard from Marty about the Student Loan Repayment Program: The short answer is no. Most 18F employees do not qualify for the Student Loan Repayment Program because we are not permanent hires and do not have a 3 year commitment, even though we could end up serving > 3 years before leaving. Anybody that's not in the 2 + 2 situation (Smart IT, Peace Corps hires, etc.) might qualify. [Here's GSA'

[2016-08-11 17:45] fureigh commented on #6
Thank you for researching that, @gboone.

Everyone's still eligible for the [Public Service Loan Forgiveness Program](https://studentaid.ed.gov/sa/repay-loans/forgiveness-cancellation/public-service#hundred-twenty-payments), though, right?

[2016-08-11 20:12] gboone commented on #6
As far as I know, your time served here should count toward the PSLF if you apply for it, yes. The maximum benefit would be 48 qualifying payments.

The catch there is PSLF is based on number of payments, not time served. So 10 years working isn't _necessarily_ enough if you have a deferment or forbearance for any reason. My understanding is that even if you make a payment when you aren't obligate

[2016-08-11 21:04] fureigh commented on #6
@gboone, would you be game to draft something to that effect (or a pull request for all of the above)?

[2016-08-11 21:45] gboone commented on #6
I'll see what I can do :)

[2016-08-18 17:20] rooneywp opened #304 "Update Join Page to Support RaaS"
We are currently engaged in two Recruiting as a Service (RaaS) projects. In order to support the successful delivery of those projects, we need to post the positions on our join page so we can direct people to express their interest.

To do this we will need:
- A way to share the information about the specific roles
- A way to share information about the client fellowships
- A way for people to su

[2016-08-18 17:28] pixelwake commented on #304
@fureigh Going to need your support with this one. I am thinking that MVP here is to add a section to our Open Positions page for RaaS and list the positions under there. Have a page for each position that houses all the content.

As far as application goes, we could use our existing google app but it will need to be modified. Given the timing (we need this live by monday), I'm leaning more toward

[2016-08-18 21:06] fureigh commented on #304
@rooneywp Let's have a quick chat. I just added one to your calendar for this afternoon.

That MVP sounds viable, assuming the addition of other fields applicants will be asked to include. (And with the understanding that, with all due respect, applicants may fail to include requested fields.)

[2016-08-19 00:43] fureigh commented on #304
It'd be preferable to link to agency-branded position descriptions hosted on the agencies' sites. Given that that doesn't seem to be possible, let's include as much information as possible in the position descriptions themselves so they work as standalone pages.

[2016-08-19 22:23] fureigh commented on #304
@rooneywp When these PRs are ready for review, please assign them to me and ping me in Slack. Thanks!

[2016-08-22 15:11] pixelwake commented on #304
@fureigh Assigned and ready for review.

[2016-08-22 22:18] fureigh commented on #304
@rooneywp I'm in transit today for another project but made an initial round of edits.

Can you have someone from the content team review the new files and make the necessary remaining changes for consistency with our style guide, etc.? I'll queue up #310 in the meantime.

[2016-08-22 22:18] fureigh commented on #304
Please also add locations to the positions. Thanks!

[2016-08-25 16:56] fureigh commented on #294
@pburkholder, I don't see the part about unpaid leave only being possible after 12 months of employment... can you provide a line number or a quote? Or clarify `leave-policies.md` if unclear?

[2016-08-25 17:01] fureigh opened #314 "Not clear whether to include resume and cover letter"
Following up on #304, based on a question from a potential applicant:

The positions (such as [this one](https://pages.18f.gov/joining-18f/raas/hud/software-developer/)) say `If you would like to apply to this opportunity, please email join18f@gsa.gov and reference this position.`

Should applicants include a resume and cover letter in that email? If so, let's say so. If not, let's explicitly say

[2016-08-25 17:01] fureigh commented on #314
@rooneywp, what's your take?

[2016-08-25 21:59] pburkholder commented on #294
@fureigh I didn't see unpaid leave addressed at all except wrt FMLA, so I've opened #315.  Does that suffice?

[2016-08-27 20:46] everyburger opened #318 "circular problem"
Applying for a position listed on https://pages.18f.gov/joining-18f/open-positions/.
Directions on that page say: "If you’re interested in these opportunities, please email join18f@gsa.gov and reference the position you are interested in. You may apply to more than one role."
Or, you can go to the detail page for that specific position for more information. On that page it says: "If you would like

[2016-08-31 19:28] rachellegupta commented on #314
I think the candidate should include their resume, I agree it's not clear cc/ @rooneywp

I'm ok without the cover letter. 📄

[2016-09-01 21:09] #294 closed

[2016-09-21 18:31] fureigh commented on #318
Sincere apologies for the delayed reply, @everyburger!

@hestherchang or @rooneywp, please advise.

[2016-09-21 18:33] #304 closed

[2016-09-21 20:13] hestherchang commented on #318
Hi, @everyburger  sorry about the circular problem! Please email your resume to join18F@gsa.gov and reference the role you're interested in. Thank you!

[2016-09-21 20:44] pixelwake commented on #318
@hestherchang We should take this opportunity to review the autoresponse from the join18F email.

[2016-10-21 03:34] hestherchang opened #328 "Adding 18F Talent Team built skeleton resume to join page"
**Current wording on join page for resumes**
When you apply, you’ll need to include a current, government-style resume. Government-style resumes are very different from private-sector resumes. [Here is a guide](http://gogovernment.org/how_to_apply/write_your_federal_resume/create_your_resume.php) and an [example resume](http://www.fda.gov/downloads/AboutFDA/WorkingatFDA/UCM279014.pdf). Please over

[2016-10-24 16:33] hestherchang commented on #328
ping @rachellegupta  @amandaschonfeld @cbrydges (now that you are back!)

[2016-10-25 15:09] amandaschonfeld commented on #328
Propose that we edit this sentence to read this way instead: A government-style resume is very different from a private-sector resume; one major difference being the depth of detail required throughout the entire resume.

Also propose we should make a slight change to this sentence too: Additional resources from other organizations are below if you'd like to use them as a reference:

[2016-10-25 16:09] rachellegupta commented on #328
I think it's good, only thing I thought maybe specify that it's ok for your government resume to be several pages long? But really I'm fine keeping the language as you proposed.

[2016-10-25 17:25] hestherchang commented on #328
Thanks for the feedback @rachellegupta  @amandaschonfeld

**Final wording for join page**
When you apply, you will need to submit a government-style resume. A government-style resume is very different from a private-sector resume; one major difference is the depth of detail required throughout the entire resume. Because of the level of detail required, It is completely acceptable for your governme

[2016-10-26 19:01] cbrydges commented on #328
looks great.  thanks all.

[2016-10-27 20:45] fureigh commented on #328
🎉 This is great! Continuing the conversation in #329.

[2016-11-03 20:03] #328 closed

[2016-12-05 19:45] hestherchang opened #334 "Preparing to post roles again"
Job application to be posted: https://docs.google.com/a/gsa.gov/forms/d/1xiHCBMvagoEWpW_VCmcjECDfcS0HbZDS7guen-hYhAk/edit

Working on getting the google form ready to be posted

[2016-12-05 19:54] fureigh commented on #334
Thanks, @hestherchang!

[2016-12-05 19:58] fureigh commented on #334
Quick question: previously, we held off on asking for legal name (if different from preferred name) until later in the process. Is there a reason that it's needed at this point?

[2016-12-07 22:58] fureigh commented on #334
Technical note: simplest is to reinstate and update the application form (and accompanying elements) we had circa 9beed21eca4fc905519d7d3157d4736d387f20a1.

[2016-12-09 17:34] hestherchang commented on #334
need to create a new page for the new job posting to live

[2016-12-14 20:56] hestherchang commented on #334
fyi: job posting went to HR for approval today

[2016-12-23 22:36] fureigh opened #339 "Staging is down"
**Steps to reproduce:**
1. Go to https://pages-staging.18f.gov.
2. Observe the following error:

**Technical notes:**
This may be a migration issue.

[2016-12-23 22:45] fureigh commented on #334
Work-in-progress pull request at #335.

[2016-12-27 19:55] fureigh opened #340 "Update info on 'Government pay grades explained'"
Now that we're no longer hiring against the Innovation Specialist position description, the information on https://pages.18f.gov/joining-18f/pay-grades/ needs to be updated.

Per @hestherchang's note in #335. Relates to #334.

[2016-12-27 21:00] hestherchang commented on #340
https://github.com/18F/joining-18f/blob/18f-pages/pages/pay-grades.md

I thought I made a pull request but looks like my edits were just committed?

[2016-12-27 21:02] fureigh commented on #340
@hestherchang Yep. 😬 I'll take a look

[2016-12-27 21:47] #334 closed

[2016-12-28 05:10] fureigh commented on #340
Closed in b7f1155 and 9ea42eb :)

[2016-12-28 05:10] #340 closed

[2016-12-28 05:21] fureigh opened #343 "Add remaining classes"
`ss-q-checkbox` etc.

[2016-12-28 05:25] fureigh opened #344 "'Additional Opportunities' doesn't save"
Steps to reproduce:
1. Fill out the application form. Check the box labeled 'Please also consider me for other employment opportunities within the US government.' Submit the form.
2. Go to the responses sheet.
3. Observe that the 'Please also consider me for other employment opportunities within the U.S. government' part of your application didn't come through.

[2017-01-06 11:59] veitch123 commented on #280
Still happening for me.

[2017-01-06 18:20] fureigh commented on #280
@veitch123 Sorry to hear that — thanks for reporting! Were you able to get your application in? (cc @hestherchang)

[2017-01-06 18:27] fureigh commented on #318
@rooneywp @hestherchang Bump: has this feedback been incorporated into the autoresponse from the join18F email? If not, the most recent round of applicants may be experiencing similar frustrations.

[2017-01-06 18:32] fureigh opened #346 "Take down product manager post"
...as applications are now closed.

[2017-01-06 18:49] fureigh commented on #280
@veitch123 Can you provide steps to reproduce this bug? The signup no longer exists on join.18f.gov; it's at https://18f.gsa.gov/#newsletter instead, where I was just able to sign up with a test account.

[2017-01-06 18:53] #346 closed

[2017-01-12 19:42] rdpiazza opened #350 "Review competencies listed on Interview Process page"
The Interview Process page (https://pages.18f.gov/joining-18f/interview-process/) lists competencies that candidates will be evaluated against.  These may not be correct now that we are no longer hiring against the Innovation Specialist PD.  Recommend reviewing for accuracy.

[2017-01-12 19:43] rdpiazza opened #351 "Update references to Innovation Specialist position"
Many parts of the Join 18F site still refer to all candidates being hired as Innovation Specialists.  Need to review and update language if we are no longer hiring against this PD.

[2017-02-09 21:08] fureigh opened #353 "Move to Federalist"
Per https://docs.google.com/document/d/1ZQDKPZbmUkoVtSrY61GUuBbDukauDo9brCQPvS5lObg/edit

[2017-02-09 21:09] fureigh commented on #353
Added the GitHub repository.

Remaining steps:
- [ ] Configure CDN
- [ ] Configure DNS

[2017-02-09 23:04] fureigh commented on #353
Next step is to hang tight while the site gets cleared.

[2017-03-14 18:11] coreycaitlin commented on #6
We removed this from the Join 18F page when we edited it down significantly for inclusion in the 18F site, but it was added to the handbook with this PR: https://github.com/18F/handbook/pull/280

[2017-03-14 18:11] #6 closed

[2017-03-14 18:14] coreycaitlin commented on #68
Given the current pace of communications and the complexity of the relevant guidance, I think this is a conversation best had later in the application process — and possibly in-person.

If this seems worth reopening, please create an issue either in the [18F Handbook repo](https://github.com/18F/handbook) or in the [18F site repo](https://github.com/18F/18f.gsa.gov).

[2017-03-14 18:14] #68 closed

[2017-03-14 18:15] coreycaitlin commented on #71
I think this has been overtaken by events as the application process has changed.

[2017-03-14 18:15] #71 closed

[2017-03-14 18:17] coreycaitlin commented on #73
Sounds like this is a bit out of scope for the narrowed focus of the Join 18F page on 18f.gsa.gov. Closing this issue for now, though the conversation is certainly interesting!

[2017-03-14 18:17] #73 closed

[2017-03-14 18:19] coreycaitlin commented on #75
We resolved the inaccuracies by streamlining this content in the move to the [18F site](https://18f.gsa.gov/join/#the-interview-process). We don't have predictable timelines for hiring, and cohort-level guidance will be included in individual postings. Closing for now!

[2017-03-14 18:19] #75 closed

[2017-03-14 18:20] coreycaitlin commented on #95
This is no longer relevant, as joining content has moved to the 18F site, and the joining-18f-app is no longer being used.

[2017-03-14 18:20] #95 closed

[2017-03-14 18:22] coreycaitlin commented on #105
We removed this from the general interview process guidance in the move to the new, integrated [Join 18F page](https://18f.gsa.gov/join/#the-interview-process), and all position-specific guidance will be included in individual postings.

[2017-03-14 18:22] #105 closed

[2017-03-14 18:25] coreycaitlin commented on #129
Because of our shift to including requirements in each position description, each will include specialized qualifications — that approach should mitigate this concern somewhat. See the [Government Pay Grades section](https://18f.gsa.gov/join/#government-pay-grades) in the Join 18F page for the existing general guidance and link to GS salary calculator.

Fully resolving this point of confusion woul

[2017-03-14 18:25] #129 closed

[2017-03-14 18:28] coreycaitlin commented on #132
This is most relevant for our old process (selecting GS level from a drop-down). The newer process, which should provide clearer distinction between levels and qualifications, will hopefully make this less relevant. Also, Talent team members can advise individuals of their options later in the process as-needed.

[2017-03-14 18:28] #132 closed

[2017-03-14 18:28] coreycaitlin commented on #132
Also! this language is now in this section: https://18f.gsa.gov/join/#government-pay-grades

[2017-03-14 18:29] coreycaitlin commented on #159
I believe this was resolved by including better guidance, which has been migrated here: https://18f.gsa.gov/join/#government-style-resumes

[2017-03-14 18:29] #159 closed

[2017-03-14 18:33] coreycaitlin commented on #160
This guidance (helping smooth the process and set expectations for applicants so they are aware of GSA HR requirements about use of legal names) may belong in the Handbook or in the Join 18F page, but probably needs a bit more thought.

[2017-03-14 18:35] coreycaitlin commented on #161
This seems unrealistic right now, given the constraints on hiring and the variability of timelines.

[2017-03-14 18:35] #161 closed

[2017-03-14 18:39] coreycaitlin commented on #217
We're no longer using Lever.

[2017-03-14 18:39] #217 closed

[2017-03-14 18:39] coreycaitlin commented on #233
This is magically done, because we moved the content over to the 18F site (https://18f.gsa.gov/join/)

[2017-03-14 18:39] #233 closed

[2017-03-14 18:40] coreycaitlin commented on #237
I think the primary call to action for updates is now the newsletter, which should suffice for the current pace of hiring.

[2017-03-14 18:40] #237 closed

[2017-03-14 18:41] coreycaitlin commented on #247
This should also be resolved by the migration to the 18F site (https://18f.gsa.gov/join/), which has a number of tests present.

[2017-03-14 18:41] #247 closed

[2017-03-14 18:42] coreycaitlin commented on #248
This is a larger project, which the Talent team is tackling outside of this repo.

[2017-03-14 18:42] #248 closed

[2017-03-14 18:43] coreycaitlin commented on #254
Resolved by a number of content additions and subtractions.

[2017-03-14 18:43] #254 closed

[2017-03-14 18:43] coreycaitlin commented on #255
This is no longer relevant, since we've stopped using Lever.

[2017-03-14 18:43] #255 closed

[2017-03-14 18:44] coreycaitlin commented on #261
see #161

[2017-03-14 18:44] #261 closed

[2017-03-14 18:47] coreycaitlin commented on #265
We have to list locations in individual job postings (if relevant), but we no longer list "preferred work locations" on the general Join 18F page.

[2017-03-14 18:47] #265 closed

[2017-03-14 18:47] coreycaitlin commented on #266
This would be great! but should be done as part of 18F site research.

[2017-03-14 18:47] #266 closed

[2017-03-14 18:48] coreycaitlin commented on #267
This is much more clearly noted at the top of the new [Join 18F page](https://18f.gsa.gov/join/#how-to-apply), and is also much more prominent individual job postings.

[2017-03-14 18:48] #267 closed

[2017-03-14 18:49] coreycaitlin commented on #268
No longer using Lever.

[2017-03-14 18:49] #268 closed

[2017-03-14 18:51] coreycaitlin commented on #280
I believe this has been resolved. Please open a new issue in the [18F site repo](https://github.com/18F/18f.gsa.gov/issues) if this reoccurs for the newsletter form.

[2017-03-14 18:51] #280 closed

[2017-03-14 18:52] coreycaitlin commented on #282
See #129 — now handling on position-by-position basis.

[2017-03-14 18:52] #282 closed

[2017-03-14 18:53] coreycaitlin commented on #314
We're no longer collecting applications via the email address, and the form clarifies this issue.

[2017-03-14 18:53] #314 closed

[2017-03-14 18:54] coreycaitlin commented on #283
No longer using Lever.

[2017-03-14 18:54] #283 closed

[2017-03-14 18:55] coreycaitlin commented on #284
We're now using the [18F site repo](https://github.com/18F/18f.gsa.gov) to track work, and that repo does have more documentation and an issue template.

[2017-03-14 18:55] #284 closed

[2017-03-14 18:55] coreycaitlin commented on #339
I believe this is overtaken by the pages/federalist changes AND the migration to the 18F site. Reopen if not.

[2017-03-14 18:55] #339 closed

[2017-03-14 18:56] coreycaitlin commented on #351
We removed all references to the Innovation Specialist PD in the migration to the new, integrated [Join 18F page](https://18f.gsa.gov/join/).

[2017-03-14 18:56] #351 closed

[2017-03-14 18:57] coreycaitlin commented on #350
We removed these in the migration to the new [Join 18F page](https://18f.gsa.gov/join/), and competencies will be included in individual postings going forward.

[2017-03-14 18:57] #350 closed

[2017-05-19 03:28] wslack commented on #353
@fureigh this is a moot issue now, correct? If so, should the site be deleted from Federalist? https://federalist-proxy.app.cloud.gov/site/18f/joining-18f/ still serves.

[2017-05-19 03:28] wslack commented on #353
cc @gemfarmer

[2017-05-19 18:09] fureigh commented on #353
Good catch! Yep, I believe so. (cc @coreycaitlin)

[2017-05-19 18:09] fureigh commented on #353
Closing this issue — if I'm mistaken, please reopen.

[2017-05-19 18:09] #353 closed

[2017-05-19 20:02] wslack commented on #353
@fureigh can y'all delete https://federalist-proxy.app.cloud.gov/site/18f/joining-18f/ from Federalist so we aren't serving unneeded content?

[2017-05-24 21:57] fureigh commented on #353
@wslack Will do!

[2017-12-11 17:45] JennMoran opened #355 "Need to change email address on Join page"
The Join18F email has been changed to JoinTTS.  Can you please rewrite the following line:
If you have any questions, please contact our Talent Team at join18f@gsa.gov

to say:
If you have any questions, please contact our Talent Team

and have Talent Team be linked to the jointts@gsa.gov email?

This needs to be done ASAP as people trying to email join18F are no longer able to since email was jus

[2017-12-11 18:03] elainekamlley commented on #355
No problem, will make the change shortly.

[2018-02-23 15:25] #355 closed